[2022-05-24 10:37] OPcoolman opened #1 "How you do deceptive dinos that fast"

[2022-06-07 19:37] Saber-Tooth-Tiger opened #2 "Default scripts"
rxzyx, in the default scripts, 'Select any blook' isn't working :( ANd the 'End game' only closes on ur side not on the host's side, but others are great! :) 💯 👍 Hope u could fix those 2 minor ishues up thanks!!!!!!!!!!!!!!!!!!

[2022-06-08 02:33] rxzyx commented on #2
Ty but closed for false issue, select any Blook you have to select any random blook u have and you will unlock them, and for end game it will end the game it just won’t say “Game Ended”.

[2022-06-08 02:33] #2 closed

[2022-06-08 12:51] Saber-Tooth-Tiger opened #3 "'select any blook'"
I know I am abit annyoing, but sorry, so the select any blook still doesn't work in the my blooks section in blook, nothing happened when I click the locked blooks :(

[2022-06-08 12:53] rxzyx commented on #3
You clicked a blook that you have? You have to paste it before the host starts the game.

[2022-06-08 12:53] #3 closed

[2022-06-08 13:03] Saber-Tooth-Tiger opened #4 "'Select any blook' still doesn't work"
I know I am getting abit anoyying, but ur 'select any blook still doesn't work, I tried what did u told me i tried it in my blooks section and in a live game I hosted it doesn't work, also ur end game, only ends the game on ur side not the host's  side, the host's game still goes, it's just that ur game on ur side close, cause I tried it, just 2 little minor mistak! Hope u fix it soon! take care b

[2022-06-08 13:04] rxzyx commented on #4
Yk you can reply right? Select Blook works fine for me and so does End Game.

[2022-06-08 13:05] Saber-Tooth-Tiger commented on #4
can u show me like plzz! Because I tried but doesnt' work

On Wed, Jun 8, 2022 at 9:04 AM rzx. ***@***.***> wrote:

[2022-06-08 13:08] Saber-Tooth-Tiger commented on #3
what do u mean?>

On Wed, Jun 8, 2022 at 8:53 AM rzx. ***@***.***> wrote:

[2022-06-08 13:08] Saber-Tooth-Tiger commented on #3
should I save the code in console or in the bookmarkelt

On Wed, Jun 8, 2022 at 9:08 AM Charlie Qiu ***@***.***>
wrote:

[2022-06-08 13:11] Saber-Tooth-Tiger commented on #3
The end game only ends the game for me not the host

On Wed, Jun 8, 2022 at 9:08 AM Charlie Qiu ***@***.***>
wrote:

[2022-06-08 13:11] rxzyx commented on #3
Select a blook that you have and then it will unlock it all.

[2022-06-08 13:12] rxzyx commented on #3
Nope. I tried. It kicks EVERYONE out. It won’t say “Game Ended” though, but it does end the game.

[2022-06-08 13:15] Saber-Tooth-Tiger commented on #3
Ok, thanks. yeah sorry, nvm, it works sorry for taking ur time! New to this!

On Wed, Jun 8, 2022 at 9:12 AM rzx. ***@***.***> wrote:

[2022-06-09 04:08] DavidKitKat commented on #4
you need to select any random blook you have and it will unlock the rest

[2022-06-09 11:51] rxzyx commented on #4
Ye ty I told them that in the other issue

[2022-06-09 11:51] rxzyx commented on #3
Glad your problem was solved.

[2022-06-13 03:16] Hankypoo7 opened #5 "I know this is kind of irrelivent, but is it posisible to make a ixl hack to gets all of the answers correct in javascript"
If its not possible thats ok, but I'm asking you because I'm just beginning to learn js

[2022-06-13 05:08] rxzyx commented on #5
Alright, add me on Discord and we can discuss about this. rzx.#6671

[2022-06-13 05:08] #5 closed

[2022-06-13 14:16] VillainsRule4000 opened #6 "Flood Game doesn't work..."

[2022-06-13 14:18] #6 closed

[2022-06-13 18:01] Instinct-YT opened #7 "Bookmarklet"
can you make it so it works for bookmarklet? my school blocked inspect.

[2022-06-13 18:04] Angelio-Mustachio-Coder commented on #7
You just put it in the tab and it works
like put it in the website address, press enter and works'

[2022-06-13 18:13] Instinct-YT commented on #7
when I do that it google searches it.

[2022-06-13 18:21] Instinct-YT opened #8 "Hack"
i checked all the hacks and none of them work. All I want are the get tokens one and the op towers one. can you  tell me how to put the hacks in?

[2022-06-14 02:39] rxzyx commented on #7
javascript:ScriptCode

[2022-06-14 02:39] #7 closed

[2022-06-14 02:39] rxzyx commented on #8
javascript:ScriptCode

[2022-06-14 02:39] #8 closed

[2022-06-14 12:53] rxzyx commented on #7
Then you are clearly in the wrong here.

[2022-06-14 12:55] rxzyx commented on #7
Ctrl + shift + j or Cmd + option + J and paste the code in.

[2022-06-14 12:56] rxzyx commented on #7
You have to be I Blooket to use the Blooket hacks.

[2022-06-14 12:56] Instinct-YT commented on #7
my school blocked inspect

[2022-06-14 12:59] Instinct-YT commented on #7
yea if i right click it wont let me click inspect

[2022-06-14 12:59] rxzyx commented on #7
I never said to right click.

[2022-06-14 12:59] rxzyx commented on #7
Use the shortcut.

[2022-06-14 13:00] Instinct-YT commented on #7
i did ctrl shift j it did not work

[2022-06-14 13:00] rxzyx commented on #7
Inside chrome? Do you have mac or windows?

[2022-06-14 13:02] rxzyx commented on #7
If that doesn’t work then you can’t fix it because it’s blocked.

[2022-06-14 13:03] Instinct-YT commented on #7
yea it does not. is there any way you could make it so it works with bookmarks?

[2022-06-14 13:03] rxzyx commented on #7
I might add bookmarklet support later but I’m busy rn.

[2022-06-14 13:04] Instinct-YT commented on #7
ok. sorry that im being annoying.

[2022-06-14 13:04] Instinct-YT commented on #7
and your wordle hacks are AMAZING

[2022-06-14 13:05] rxzyx commented on #7
Thank you and it’s fine.

[2022-06-14 14:12] Angelio-Mustachio-Coder opened #9 "GLIXXZY"
Hey Rx, Glixxzy is acting like he owns this app again, can we stop him by trying a takedown? others have had problems, but he is stealing your code,  And I have a suspicion that he has stolen them from you and called them his own and uploaded them to schoolcheats. You ARE the original creator and I won't stand for plagarism.

[2022-06-14 14:14] rxzyx commented on #9
Yes I’m working on a DMCA Takedown goday.

[2022-06-14 14:14] #9 closed

[2022-06-14 14:17] Angelio-Mustachio-Coder commented on #9
As a extra precaution, you should contact schoolcheats and inform them of this, and have them take the hacks down.

[2022-06-14 14:23] rxzyx commented on #9
Yes but that’s not the real gliz. It’s lol-jude.

[2022-06-14 18:17] Instinct-YT commented on #7
hi just wanted to say can you email me when you have bookmark support? my email is shadowgalaxy061@gmail.com

[2022-06-15 00:52] RatioBozoIDIe opened #10 "get answer points isn't working"
its not working for me, i tried on cafe, gold quest, classic, none worked

[2022-06-15 02:31] rxzyx commented on #10
Closed for false issue get answer points must be used in game.

[2022-06-15 02:31] #10 closed

[2022-06-15 03:30] RatioBozoIDIe commented on #10
I did

[2022-06-17 03:15] FireyKitKat opened #11 "Glixxzy stealing your code again"
Glixxzy stole your crypto hacks now
there are no difference between the hacks
![Screenshot 2022-06-16 11 13 23 PM](https://user-images.githubusercontent.com/106935277/174217763-63019982-b503-483f-a093-ef7b23c919ad.png)
![Screenshot 2022-06-16 11 13 21 PM](https://user-images.githubusercontent.com/106935277/174217773-783307a2-46ad-44d2-9bb8-c2dc3a62f415.png)

![Screenshot 2022-06-16 11 13 35 PM](ht

[2022-06-17 03:15] rxzyx commented on #11
Yes I know.

[2022-06-17 03:15] #11 closed

[2022-06-17 03:15] rxzyx commented on #11
He blocked me from putting comments. And banned me on Discord.

[2022-06-17 03:17] FireyKitKat commented on #11
Same, I put a issue telling him to stop stealing code from you but he just deleted the issue.

[2022-06-22 00:23] glixxzzy commented on #9
You know, I have a story. I had LOL run my hacks until I knew it was safe, I almost got sued by the CEO of Blooket so I had someone run my hacks until it was safe to return, when he got into trouble being called a faker I came back.

[2022-06-22 00:23] glixxzzy commented on #9
And the pictures you showed me were fake screenshots as of me checking!

[2022-06-22 15:52] VillainsRule4000 opened #13 "Anti-Ban & Tampermonkey"
Tampermonkey does not allow obfuscated scripts. You may have to unobfuscate the parts that show the name, author, etc.

[2022-06-22 17:59] rxzyx commented on #13
Alright.

[2022-06-22 17:59] #13 closed

[2022-06-22 18:10] rxzyx commented on #13
https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/Tamper%20Monkey/Anti-Ban.js

[2022-06-25 18:16] yedonbro commented on #11
Hey... I went on his discord and posted a link to this issue

[2022-06-25 18:28] rxzyx commented on #11
Thank you! But he'll just ban you, happened to me.

[2022-06-25 18:29] rxzyx commented on #11
Also he stole my flood bots hack and re-obfuscated it to make it look like it was his.

[2022-06-25 18:47] VillainsRule4000 commented on #11
@rxzyx He unbanned me from commenting on his Github repo.

ACTUALLY GLIXXZZY QUOTES:
[code]

[2022-06-25 18:49] rxzyx commented on #11
“PHOTOSHOPPED”??? IT’S ON HIS GITHUB

[2022-06-25 18:49] VillainsRule4000 commented on #11
IKRRRRRRRR!

[2022-06-25 18:50] VillainsRule4000 commented on #11
me back:
[code]

[2022-06-25 18:51] VillainsRule4000 commented on #11
OOOOOOH

[2022-06-25 18:52] rxzyx commented on #11
He also took my deceptive dinos hack and my flood bots hack

[2022-06-27 09:55] BetterCordDer opened #15 "can u make battle royale hacks?"
just asking

[2022-06-27 11:35] rxzyx commented on #15
Don’t submit false issues, I have a Discord server for a reason.

[2022-06-27 11:35] #15 closed

[2022-06-29 20:55] Minesraft2 opened #16 "Improper testing"
You failed to test Kick All and End Game, it only works if you're on the same account as the host

If you test it on a public game or have someone else host it, it won't work

edit: spelling

[2022-06-30 02:38] rxzyx commented on #16
Sorry but I don’t have slaves.

[2022-06-30 02:38] #16 closed

[2022-06-30 02:52] VillainsRule4000 commented on #16
LOL, just open a guest session on Chrome or something like that.

[2022-06-30 03:12] rxzyx commented on #16
Not that into testing a hack

[2022-07-06 15:56] Glixxzzy commented on #16
kick all does work, you have to do it when your in the lobby

[2022-07-06 15:57] Minesraft2 commented on #16
Kick all only works when you're on the same account as the host

[2022-07-06 15:58] Minesraft2 commented on #16
You would need someone else to host on a different account to make sure it actually works

[2022-07-06 15:58] rxzyx commented on #16
Wrong on both accounts/cases. Kick all only works when you’re on the same account as the host, and end game doesn’t “end the game” it just freezes it forever basically so everyone will get kicked out so end game works when you are playing. (You also need host for this)

[2022-07-06 15:58] Glixxzzy commented on #16
i did test it on bestbro's livestream and kick all indeed work, only on the lobby though.

[2022-07-21 15:10] XPIREDPIRED5 opened #17 "anti ban"
when do we execute anti ban

[2022-07-21 15:12] rxzyx commented on #17
Closed for false issue. It’s like saying: “When do we use our legs?”. You can use it *any time*.

[2022-07-21 15:12] #17 closed

[2022-07-27 01:14] Hyyped opened #18 "Could you make a gui thing?"
Title

[2022-07-27 01:55] rxzyx commented on #18
Maybe. Not an issue.

[2022-07-27 01:55] #18 closed

[2022-07-29 02:37] Hyyped opened #19 "Discord link doesn't work"
Discord server link in the desc is invalid

[2022-08-03 16:15] yedonbro commented on #11
its gone LOL

[2022-08-03 16:18] yedonbro commented on #7
https://caiorss.github.io/bookmarklet-maker/
type in the code and then drag the bookmarklet into your bookmarks bar

[2022-08-03 16:21] yedonbro commented on #11
BTW glizzy's github wayback machine page is a thing

[2022-08-04 11:30] rxzyx commented on #19
Fixing

[2022-08-04 11:30] #19 closed

[2022-09-18 20:04] coolfangamerlolhaha opened #20 "Manipulate Plus"
It doesn't work. So I tried it and refreshed but it doesn't work. Is there any way you can fix it?

[2022-09-18 23:08] 123345666777777777777777777777777 opened #21 "Select all blooks"
Not working

[2022-09-19 02:27] rxzyx commented on #20
You enable it during the select game mode screen.

[2022-09-19 02:27] #20 closed

[2022-09-19 02:27] rxzyx commented on #21
“Not working” isn’t welcome here.

[2022-09-19 02:27] #21 closed

[2022-09-19 18:48] BrandonBman12313 opened #22 "Can you update the code(add tokens) for the new blooket update"

[2022-09-19 18:49] BrandonBman12313 opened #23 "Update the code for add tokens"

[2022-09-20 02:29] rxzyx commented on #22
Unclear reason + duplicate

[2022-09-20 02:29] #22 closed

[2022-09-20 02:29] rxzyx commented on #23
Unclear reason + duplicate maximum is 500

[2022-09-20 02:29] #23 closed

[2022-09-20 02:31] VillainsRule4000 commented on #22
Well, Add Tokens doesn't work, and it's not fixed, so why close it?

[2022-09-20 02:32] rxzyx commented on #22
Because I’m not always free, I’ll do it in a couple of hours.

[2022-09-21 18:48] SolarCelery opened #24 "the get any blook and the plus one dont work"

[2022-09-21 23:24] ZackiBoiz commented on #24
Yes, about the Manipulate Plus... There seems to be nothing that happens when you run the script!

[2022-09-22 02:23] Hyyped commented on #24
Accesses plus only gamemodes, nothing else (monster brawl) currently

[2022-09-22 02:28] rxzyx commented on #24
Yes

[2022-09-22 02:28] #24 closed

[2022-09-22 17:10] ZackiBoiz commented on #24
It doesn't seem to work for me though...

[2022-09-22 17:11] ZackiBoiz commented on #24
How would I use it? Can you give an example?

Thanks :)

[2022-09-22 17:18] rxzyx commented on #24
Sorry Zack for the inconvenience, I will provide a simple explanation.

Once you have the file (Default Scripts/Manipulate Plus.js)
Click raw and ctrl + a and then ctrl + c

Now go to blooket and create a game
Once it shows the “select mode” area, run the script (Ctrl + shift + J, ctrl + v)
Now you can select the new game-mode “Monster Brawl”
I hope this helped.

[2022-09-26 07:58] godlygamer123 opened #25 "new code ideas"
i like your codes but if you could find a code to spam open boxes that would be nice

[2022-09-26 11:53] rxzyx commented on #25
Not an issue, go to the discord server for suggestions.

[2022-09-26 11:53] #25 closed

[2022-09-26 19:01] Hyyped opened #26 "End game"
Didn't work for me, is there something I'm missing?

[2022-09-26 20:40] ZackiBoiz commented on #24
Sorry for responding late. Would this work in a bookmarklet? Because if so, it doesn't seem to do anything.

Thanks for your explanation! :)

[2022-09-27 02:25] P-40BTigerShark opened #27 "BAD"
I am only able to do max tokens and XP once per day, and it only gives 513 tokens.

[2022-09-27 02:35] VillainsRule4000 commented on #27
There's no way to bypass the token limit, even with scripts.

[2022-09-27 02:38] P-40BTigerShark commented on #27
Okay, thanks for letting me know :)

On Mon, Sep 26, 2022 at 9:36 PM VillainsRule ***@***.***>
wrote:

--
*Have a good day* :)

{o,o}
/    /
 '  '

--

<https://www.stltoday.com/business/workplaces/top-workplaces-midsized/collection_a3e24f7b-dfc4-53b9-bc21-485eccbb3da1.html#12>
<https://www.niche.com/k12/d/windsor-c-i-school-district-mo/>

[2022-09-27 02:42] P-40BTigerShark commented on #27
Why does it only let me do it once thought?

[2022-09-27 02:46] VillainsRule4000 commented on #27
There's a limit of 500 tokens per day. Tomorrow, you'll get another 500 for running it.

[2022-09-27 02:48] P-40BTigerShark commented on #27
OHHHH! That makes way more sense now! THANK YOU!

On Mon, Sep 26, 2022 at 9:46 PM VillainsRule ***@***.***>
wrote:

--
*Have a good day* :)

{o,o}
/    /
 '  '

--

<https://www.stltoday.com/business/workplaces/top-workplaces-midsized/collection_a3e24f7b-dfc4-53b9-bc21-485eccbb3da1.html#12>
<https://www.niche.com/k12/d/windsor-c-i-school-district-mo/>

[2022-09-27 02:55] rxzyx commented on #26
It’s host only

[2022-09-27 02:55] #26 closed

[2022-09-27 02:55] rxzyx commented on #27
Token limit is server sided

[2022-09-27 02:55] #27 closed

[2022-09-27 11:19] Hyyped commented on #24
Yea it would

[2022-09-27 15:14] SuperHotPotato opened #28 "Problem with Get All Blooks"
Can I get help for how to use the get all blooks? i cant get it to work.

[2022-09-27 15:26] rxzyx commented on #28
The code has problems. I will work on it whenever I’m free. It will be fixed soon.

[2022-09-27 15:26] #28 closed

[2022-09-28 07:48] godlygamer123 commented on #25
where might i find that

________________________________
From: rzx. ***@***.***>
Sent: 26 September 2022 12:53
To: rxzyx/Blooket-Hacks ***@***.***>
Cc: Jude Bradley ***@***.***>; Author ***@***.***>
Subject: Re: [rxzyx/Blooket-Hacks] new code ideas (Issue #25)

Not an issue, go to the discord server for suggestions.

—
Reply to this email directly, view it on GitHub<https://github.com/rxzyx/Blook

[2022-09-28 11:52] rxzyx commented on #25
Clearly within this README.MD and my personal profile’s README.MD

[2022-09-29 22:59] NoDripGmoney opened #29 "Get all blook script not working."
This get all blook script is not working.

[2022-09-30 03:02] rxzyx commented on #29
Closed for clone issue. This will be fixed within a time period of 2-3 days.

[2022-09-30 03:02] #29 closed

[2022-09-30 17:33] SolarCelery opened #30 "the "Add answer points" doesn't do anything"
I tested it with a homework game I hosted and it did nothing

[2022-09-30 17:34] rxzyx commented on #30
Closed for false issue and inability to read. It shows it at the end.

[2022-09-30 17:34] #30 closed

[2022-09-30 18:36] NoDripGmoney opened #31 "Make monster brawl scripts"
please make a monster brawl script to get infinite hp and to get max upgrades.

[2022-09-30 18:37] rxzyx commented on #31
Not an issue plus go to my server for suggestions.

[2022-09-30 18:37] #31 closed

[2022-09-30 23:55] NoDripGmoney commented on #5
I would love a script like this!

[2022-10-02 14:13] ZackiBoiz opened #33 "Monster Brawl Damage Hack"
The damage hack doesn't add any damage.

![image](https://user-images.githubusercontent.com/95724562/193458583-cf90f880-93ee-4216-ace3-98c537695b5d.png)

[2022-10-02 14:16] rxzyx commented on #33
Not my hack. Ask @notzastix.

[2022-10-02 14:16] #33 closed

[2022-10-02 14:24] ZackiBoiz opened #34 "Monster Brawl XP Hack"
The monster brawl XP hack doesn't do anything.

[2022-10-02 14:26] rxzyx commented on #34
Sorry I put old version accidentally

[2022-10-02 14:26] #34 closed

[2022-10-02 14:43] ZackiBoiz commented on #34
it still doesnt work

[2022-10-02 22:53] notzastix commented on #33
ill look into it

[2022-10-03 16:53] Wilke000 opened #37 "What is godmode?"
For monster brawl

[2022-10-03 16:54] rxzyx commented on #37
Not an issue. Go to discord server for support.

[2022-10-03 16:54] #37 closed

[2022-10-03 16:58] Wilke000 commented on #37
I don't have discord

[2022-10-03 16:58] VillainsRule4000 commented on #37
Godmode stops you from having the respawn screen when you die.

[2022-10-03 16:59] Wilke000 commented on #37
oh ok ty

[2022-10-04 18:26] NoDripGmoney opened #40 "SCRIPT NOT WORKING FOR MONSTER BRAWL"
the all anwsers correct script doesnt work for monster brawl please fix the if you can!

[2022-10-04 19:20] MrNoobb commented on #40
the god mode script works

[2022-10-04 20:28] TheHelperMan commented on #40
Yeah, I'd say all work. Depends which exact one.

[2022-10-04 20:54] NoDripGmoney commented on #40
all anwsers correct script

[2022-10-05 03:04] rxzyx commented on #40
I’ll check the issue in a bit.

[2022-10-05 03:04] #40 closed

[2022-10-05 15:16] samthecow opened #45 "moster brawl"
The set xp and the set damage do not work
just btw

[2022-10-05 16:35] rxzyx commented on #45
Not made bt me. @notzastix. But I tested it and it works.

[2022-10-05 16:35] #45 closed

[2022-10-05 22:59] WatermelonGtag opened #46 "manipulate plus not working"
The manipulate plus is not working in blooket anymore

[2022-10-06 03:03] rxzyx commented on #46
It does work. I tested it.

[2022-10-06 03:03] #46 closed

[2022-10-06 03:04] rxzyx commented on #46
It works on all client-side related things you can do

[2022-10-06 12:34] leo80099 commented on #46
man

On Wed, Oct 5, 2022 at 11:04 PM rzx. ***@***.***> wrote:

--
----
CONFIDENTIALITY NOTICE:  This email message, including any
attachments, is for the sole use of the
intended recipient(s) and may
contain information that is legally privileged, confidential and/or exempt
from
disclosure under applicable law.  If you are not an intended
recipient, you may not review, use, copy, disclose
or distr

[2022-10-06 12:34] leo80099 commented on #46
ok cool

On Thu, Oct 6, 2022 at 8:33 AM Emilio Mattei-Davis <
***@***.***> wrote:

--
----
CONFIDENTIALITY NOTICE:  This email message, including any
attachments, is for the sole use of the
intended recipient(s) and may
contain information that is legally privileged, confidential and/or exempt
from
disclosure under applicable law.  If you are not an intended
recipient, you may not review, use, cop

[2022-10-06 15:18] Wilke000 opened #47 "Anti-ban"
Is there a way to unban yourself?

[2022-10-06 15:19] VillainsRule4000 commented on #47
No, anti-ban stops ban from happening in the first place. It doesn't unban.

[2022-10-06 15:23] Wilke000 commented on #47
or is it impossible

[2022-10-06 17:09] rxzyx commented on #47
You can’t unban, the hack is for stopping a ban. Unfortunately you can’t really do anything to unban yourself.

[2022-10-06 17:09] #47 closed

[2022-10-06 17:15] samthecow commented on #45
oh

On Wed, Oct 5, 2022 at 10:35 AM rzx. ***@***.***> wrote:

[2022-10-06 18:19] sosiska-killer-of opened #48 "All awnsers correct script does not work anywhere and the set xp in monster brawl does not work"

[2022-10-06 18:20] rxzyx commented on #48
It does.

[2022-10-06 18:20] #48 closed

[2022-10-06 18:20] rxzyx commented on #48
I’ll check again tomorrow.

[2022-10-07 13:34] Wilke000 commented on #48
it works

[2022-10-07 14:30] gaelzayas opened #50 ""Sell any blook" Doesn't work"
"Sell any blook" doesn't work.

[2022-10-07 14:31] rxzyx commented on #50
Sell any blook is not a hack. False issue.

[2022-10-07 15:17] sosiska-killer-of commented on #48
why does it not work for me?

[2022-10-09 00:51] johnxinalikestoes opened #53 "how do you use plus"

[2022-10-09 01:06] johnxinalikestoes commented on #53
and plus dont work :(

[2022-10-09 01:50] ZackiBoiz commented on #53
Copy the raw code in the file
Go to the live gamemode selection page
Run it in the console (Ctrl+Shift+J)
Choose a gamemode

[2022-10-09 01:50] ZackiBoiz commented on #53
It should work

[2022-10-09 02:42] addasdasdasdasdasd opened #54 "2 Issues"
Flooding does not work, and why there is no crazy kingdom hacks?

[2022-10-09 02:42] #54 closed

[2022-10-09 02:42] addasdasdasdasdasd opened #55 "2 issues"
floodingdoes not work

[2022-10-09 04:13] #55 closed

[2022-10-09 04:13] addasdasdasdasdasd opened #56 "flooding does not work"
can you fix flood

[2022-10-09 06:21] johnxinalikestoes commented on #53
it dont work bc the live servers are down :(

[2022-10-09 07:10] rxzyx commented on #53
Just because live servers are down doesn't mean it's my fault...

[2022-10-09 07:10] #53 closed

[2022-10-09 07:10] rxzyx commented on #53
Reason for close: False Issue and Failure to understand purpose of hacks

[2022-10-09 07:13] rxzyx commented on #56
False issue as live hosting is down so obviously it doesn't work when there're no live games

[2022-10-09 07:13] #56 closed

[2022-10-09 08:37] rxzyx commented on #53
It works. Tested.

[2022-10-09 13:14] Milano12K opened #57 "Doesn't Work Anymore (tokens)"

[2022-10-09 14:24] rxzyx commented on #57
Will be looked into

[2022-10-09 14:24] #57 closed

[2022-10-09 18:25] johnxinalikestoes commented on #53
ok i'll use when the servers are back up lol

[2022-10-09 18:26] rxzyx commented on #53
You don't need to. It's plus hack, you are doing something wrong.

[2022-10-09 19:46] TheHelperMan opened #59 "Add Tokens Does Not Seem To Work."
The title says it all. I understand that it may not be possible to update it, as it interacts with the api, which seems to refuse doing so.

[2022-10-09 21:08] Glixxzzy commented on #59
It's not working because you have to wait untill the timer on your stats page resets, Then It will work.
![Screenshot 2022-10-09 5 07 19 PM](https://user-images.githubusercontent.com/108609138/194779545-bc6a4318-2735-477a-968b-9848f4f8413b.png)

[2022-10-09 21:09] Glixxzzy commented on #59
It works for me

[2022-10-09 21:15] Glixxzzy commented on #59
![Screenshot 2022-10-09 5 13 54 PM](https://user-images.githubusercontent.com/108609138/194779799-77aed507-40e0-4131-b93a-461d7ffeda51.png)
When the daily tokens available says 500, then it will work.

[2022-10-09 21:16] ZackiBoiz opened #61 "Bot Flood"
The script doesn't flood the game.

[2022-10-10 01:33] MoonMaster78 commented on #59
It is not working even when I have 428 coins available.

[2022-10-10 01:36] addasdasdasdasdasd commented on #61
the owner said that this will be looked into

[2022-10-10 03:01] rxzyx commented on #59
Will be fixed soon

[2022-10-10 03:01] #59 closed

[2022-10-10 03:01] rxzyx commented on #61
I tried fixing it but couldn’t, but almost did! I’ll contact you when I’ve done it.

[2022-10-10 03:01] #61 closed

[2022-10-10 11:05] VillainsRule4000 commented on #59
Change the API call from api.blooket to dashboard.blooket...

[2022-10-10 11:05] VillainsRule4000 commented on #61
Maybe change any API endpoints...

[2022-10-10 11:11] rxzyx commented on #61
No. Endpoint for flood hasn't changed.

[2022-10-10 11:13] rxzyx commented on #59
Fixed. Uploading now.

[2022-10-10 15:13] Milano12K opened #62 "Sell dupes does not work"

[2022-10-10 15:14] rxzyx commented on #62
Not made by me, particular hack needs to be run in the place where you can see all your blooks, not in game.

[2022-10-10 15:25] leo80099 commented on #62
dam bicth

[2022-10-10 15:25] leo80099 commented on #62
fuck you

[2022-10-10 15:26] leo80099 commented on #62
not you the game

[2022-10-10 15:26] rxzyx commented on #62
okk…?

[2022-10-10 15:39] Tsmbah1 commented on #62
Not cool dude

On Mon, 10 Oct 2022 at 19:26 rich king leo ***@***.***> wrote:

[2022-10-10 15:41] rxzyx commented on #62
Sorry. Had to delete profanity/obscene language.

[2022-10-10 15:42] rxzyx commented on #61
Oh btw, fixed.

[2022-10-10 15:44] Tsmbah1 commented on #62
Thanks for doing that!

On Mon, 10 Oct 2022 at 19:41 rzx. ***@***.***> wrote:

[2022-10-10 15:46] rxzyx commented on #62
No problem.

[2022-10-10 17:12] vantr-o opened #63 "your code got leaked"
your deofbuscucated code got leaked.

[2022-10-10 17:20] Tsmbah1 commented on #63
Huh?

On Mon, 10 Oct 2022 at 21:12 VANTRO!! ***@***.***> wrote:

[2022-10-10 17:59] rxzyx commented on #63
I know. Github declined DMCA, let the trolls leak it - like I care lol.

[2022-10-10 17:59] #63 closed

[2022-10-11 02:45] johnxinalikestoes commented on #53
what am i doing wrong, and how do i do it?

[2022-10-11 02:49] johnxinalikestoes commented on #53
nvm i just did it lol

[2022-10-11 08:28] Tsmbah1 commented on #59
Thank You it worked

On Mon, 10 Oct 2022 at 15:13 rzx. ***@***.***> wrote:

[2022-10-11 18:35] GITHUBTRASHACCOUNT opened #65 "Blooklet AutoBuy Blooks"
ADD FEATURE

[2022-10-11 18:47] GITHUBTRASHACCOUNT opened #66 "AUTOSELL BLOOKS"
BROKEN

[2022-10-11 20:31] Glixxzzy commented on #65
No they should add a feature where you can choose any blook you want on your avatar that would be cool

[2022-10-11 20:32] VillainsRule4000 commented on #65
@Glixxzzy that's not possible

[2022-10-11 20:32] VillainsRule4000 commented on #65
Also autobuy is named "Spam Open Boxes"

[2022-10-11 21:07] tatertot0911 opened #67 "[BUG]"
pp

[2022-10-11 21:08] tatertot0911 opened #68 "[BUG]"
pp

[2022-10-12 00:54] addasdasdasdasdasd opened #69 "[BUG]"
Flooding does not work, it only inputs 1 bot

[2022-10-12 02:30] rxzyx commented on #65
Already there

[2022-10-12 02:30] #65 closed

[2022-10-12 02:30] rxzyx commented on #66
Not broken, false troll issue

[2022-10-12 02:30] #66 closed

[2022-10-12 02:30] rxzyx commented on #67
Troll issue detected.

[2022-10-12 02:30] #67 closed

[2022-10-12 02:30] rxzyx commented on #68
Troll issue.

[2022-10-12 02:30] #68 closed

[2022-10-12 02:31] rxzyx commented on #69
False. Tested.

[2022-10-12 02:31] #69 closed

[2022-10-12 12:25] leo80099 commented on #69
no no no no no

On Tue, Oct 11, 2022 at 10:31 PM rzx. ***@***.***> wrote:

--
----
CONFIDENTIALITY NOTICE:  This email message, including any
attachments, is for the sole use of the
intended recipient(s) and may
contain information that is legally privileged, confidential and/or exempt
from
disclosure under applicable law.  If you are not an intended
recipient, you may not review, use, copy, discl

[2022-10-12 13:08] Wilke000 opened #70 "Token Hack"
Token hack is broken... again

It shows that my daily tokens are 0 but no tokens were added when i entered the code

[2022-10-12 13:10] rxzyx commented on #70
False issue. Tested yesterday.

[2022-10-12 13:10] #70 closed

[2022-10-12 13:15] Tsmbah1 commented on #70
It works it still works today in school I tried it and it worked

On Wed, 12 Oct 2022 at 17:10 rzx. ***@***.***> wrote:

[2022-10-12 13:16] Wilke000 commented on #70
Oh well it doesn’t work for me

[2022-10-12 13:17] Tsmbah1 commented on #70
Well did you use it today?

On Wed, 12 Oct 2022 at 17:17 Wilke000 ***@***.***> wrote:

[2022-10-12 13:18] Wilke000 commented on #70
Yes in the morning and yesterday

[2022-10-12 13:54] Tsmbah1 commented on #70
Then it wont work u can use it for only 1 day

On Wed, 12 Oct 2022 at 17:19 Wilke000 ***@***.***> wrote:

[2022-10-12 16:57] Wilke000 opened #71 "Sell Dupes"
Sell dupes shows this error when I run it, doesn't sell anything

<img width="617" alt="Screen Shot 2022-10-12 at 12 56 46 PM" src="https://user-images.githubusercontent.com/85253703/195403350-f0e2904c-b021-4e04-afab-cada150f270a.png">

[2022-10-12 17:04] rxzyx commented on #71
False issue. Not made by me + use it in your blooks area, not anywhere else.

[2022-10-12 17:04] #71 closed

[2022-10-12 17:04] rxzyx commented on #71
404 means not found, contact the contributor.

[2022-10-12 19:40] Wilke000 commented on #71
@VillainsRule4000?

[2022-10-12 20:09] VillainsRule4000 commented on #71
No, please don't @ me for no reason.

[2022-10-12 20:10] Wilke000 commented on #71
it wasn't for no reason why is there an error and can u fix it pls?

[2022-10-12 20:11] VillainsRule4000 commented on #71
It was, since I'm not wasting time fixing it. Contact the script creator.

[2022-10-12 20:11] VillainsRule4000 commented on #71
I have a life.

[2022-10-12 20:12] Wilke000 commented on #71
i thought u were the script creator

[2022-10-12 20:13] Wilke000 commented on #71
i thought ur life was "mid"

[2022-10-12 20:14] VillainsRule4000 commented on #71
Look in the commit history. No clue what you mean about my life being "mid".

[2022-10-12 20:16] Wilke000 commented on #71
https://user-images.githubusercontent.com/85253703/195439325-f2db1f21-b36e-40dd-a995-1a17759e3e5a.mov

And ok i will

[2022-10-12 20:17] Wilke000 commented on #71
@ZackiBoiz can u fix this?

[2022-10-12 20:22] VillainsRule4000 commented on #71
My description has been "Why are you here?" for about a month now. Inspecting is cringe.

[2022-10-12 20:23] Wilke000 commented on #71
What? I didn't i swear it says "life is mid"

[2022-10-12 20:23] Wilke000 commented on #71
oh wait it just updated i swear I didn't inspect btw

[2022-10-12 20:25] VillainsRule4000 commented on #71
Why bother lying :skull:
Anyway, you're wasting my time.
![image](https://user-images.githubusercontent.com/101288516/195440750-a9208c41-0bc3-4c68-98ca-8541f98921ef.png)

[2022-10-12 22:15] Milano12K opened #72 "[BUG] Sell dupes"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-10-13 01:02] addasdasdasdasdasd commented on #61
it still does not work, it only puts in one bot.

[2022-10-13 02:28] rxzyx commented on #72
Fake report

[2022-10-13 02:28] #72 closed

[2022-10-13 03:06] addasdasdasdasdasd opened #73 "[BUG]"
the flood game does not work, it only puts one person

[2022-10-13 03:07] rxzyx commented on #73
False issue. Tested 2 days ago, later today I will look into this supposed error. Maybe I uploaded the wrong file.

[2022-10-13 03:07] #73 closed

[2022-10-13 03:09] addasdasdasdasdasd commented on #73
ok, maybe i am pasting the code in the wrong place. Do you know where to paste the code?

[2022-10-13 03:14] addasdasdasdasdasd opened #74 "Question"
do you paste the code right next to the blooket code id numbers, if not, please tell me where to paste the code.

[2022-10-13 04:00] #74 closed

[2022-10-13 10:23] hongquanhacker opened #75 "Blooket tokens is broken"
Add tokens is not work

[2022-10-13 11:41] rxzyx commented on #75
False issue. 500 tokens per 24hr

[2022-10-13 11:41] #75 closed

[2022-10-13 14:13] aknadvabnjk opened #76 "MAX COINS IS NOT WORKING [BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-10-13 15:03] gaelzayas opened #77 "Add max tokens"
The script "add max tokens isn't working." It says it added the tokens yet doesn't do anything.
![blooket](https://user-images.githubusercontent.com/115113728/195634012-5acaaf26-0584-4d23-9a3a-d09ba64f2307.png)

[2022-10-13 15:05] rxzyx commented on #77
Will be looked into. But note per 24 hrs

[2022-10-13 15:05] #77 closed

[2022-10-13 15:24] smartmurderer opened #78 "[BUG]"
hello i am having trouble with the add tokens code. i have waited 24hrs and it did not work.
oh and i  was wondering an your you add something to the code to tell us how much we have to wait before doing it again thank you
Have a blessed day

[2022-10-13 15:26] #78 closed

[2022-10-13 20:27] Wilke000 commented on #71
. ok and btw: i didn't lie and I'm sticking to it! I AM AN HONEST MAN

[2022-10-13 23:15] Milano12K opened #79 "[BUG] Tokens not Working"
It says unhandled promise rejection. In the tokens hack.

[2022-10-14 02:07] Trey281 commented on #79
yep wont work for me either

[2022-10-14 05:24] Jesse01px2029 opened #80 "Tester"
Add tokens worked a few days ago but not now

[2022-10-14 05:30] Jesse01px2029 opened #81 "[BUG]Add token is broken"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-10-14 07:30] godlygamer123 commented on #81
please fix add tokens does not work because the daily coins are not  reseting how do you fix dat

[2022-10-14 07:30] godlygamer123 commented on #81
need tokens quick

[2022-10-14 07:31] vas12o3 opened #82 "[BUG] Add Tokens not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-10-14 07:33] godlygamer123 commented on #82
it is working but the tokens are not reseting

[2022-10-14 07:33] godlygamer123 commented on #82
which means it does not work

[2022-10-14 08:09] Jesse01px2029 commented on #81
I'm not the maker I'm just some like you

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: godlygamer123 ***@***.***>
Sent: Friday, October 14, 2022 3:30:55 PM
To: rxzyx/Blooket-Hacks ***@***.***>
Cc: Pan; Jiazhen ***@***.***>; Author ***@***.***>
Subject: Re: [rxzyx/Blooket-Hacks] [BUG]Add token is broken (Issue #81)

need tokens quick

—
Reply to this email direc

[2022-10-14 09:07] rxzyx commented on #79
I know.

[2022-10-14 09:07] #79 closed

[2022-10-14 09:07] rxzyx commented on #80
I know.

[2022-10-14 09:07] #80 closed

[2022-10-14 09:08] rxzyx commented on #81
I know.

[2022-10-14 09:08] #81 closed

[2022-10-14 09:08] rxzyx commented on #82
I know.

[2022-10-14 09:08] #82 closed

[2022-10-14 11:41] aknadvabnjk opened #83 "Max coins doesn't work [BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-10-14 11:50] Wilke000 commented on #83
He is fixing it rn (maybe)

[2022-10-14 11:50] Wilke000 commented on #83
He knows

[2022-10-14 17:11] Angelio-Mustachio-Coder opened #85 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.
![image](https://user-images.githubusercontent.com/106037601/195903662-dab56c79-c512-418c-afeb-4e786d0af98f.png)
max t

[2022-10-14 17:46] rxzyx commented on #83
Yes.

[2022-10-14 17:46] #83 closed

[2022-10-14 17:46] rxzyx commented on #85
I know. I had like 200000 errors on this. Please stop.

[2022-10-14 17:46] #85 closed

[2022-10-14 18:45] rxzyx commented on #85
Fixed!

[2022-10-14 18:45] rxzyx commented on #83
Fixed!

[2022-10-14 18:45] rxzyx commented on #82
Fixed!

[2022-10-14 18:45] rxzyx commented on #81
Fixed!

[2022-10-14 18:45] rxzyx commented on #80
Fixed!

[2022-10-14 18:46] rxzyx commented on #77
Fixed!

[2022-10-14 18:46] rxzyx commented on #76
Fixed!

[2022-10-14 18:46] rxzyx commented on #75
Fixed!

[2022-10-14 21:50] tatertot0911 opened #86 "[BUG] ADD MAX TOKENS AND XP DOESN'T WORK"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-10-14 21:50] #86 closed

[2022-10-15 02:35] Hingchingchong opened #87 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.
i entered in the code and it said i was on the wrong page and so i clicked to go there and so i typed it in again and it still showed an error
**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made an

[2022-10-15 02:53] Glixxzzy commented on #87
it works for me

[2022-10-15 03:11] Hingchingchong commented on #87
i just tryed again and this time once it brings me to the join game page and i enter in the code it shows its added and then when i go back it doesnt show

[2022-10-15 03:36] vantr-o commented on #87
if its the get blooks thing thats only in game, what hack are you getting an error on?

[2022-10-15 03:43] Hingchingchong commented on #87
on the add tokens hack

[2022-10-15 04:38] vantr-o commented on #87
works for me, my hacks work for me, youre just doing something wrong.

[2022-10-15 07:55] rxzyx commented on #87
False issue. Code has to be run at play.boooket.com

[2022-10-15 07:55] #87 closed

[2022-10-17 01:59] Glixxzzy opened #88 "flappy bird hacks dont work [BUG]"
i tried it over and over but it didn't work

[2022-10-17 08:56] #88 closed

[2022-10-17 08:57] Glixxzzy commented on #88
i think it might be because i didn't press control shift j

[2022-10-17 13:58] MrNoobb opened #89 "[BUG] The add token does not work"
when i put the code in the console for tokens it went white and logged me out
A clear and concise description of what the bug is.

[2022-10-17 13:59] rxzyx commented on #89
False info and inability to read.

[2022-10-17 13:59] #89 closed

[2022-10-17 17:48] notloc69420 opened #90 "all answers right"
flood game and all answers right dont work

[2022-10-17 17:48] rxzyx commented on #90
Tested. They do.

[2022-10-17 17:48] #90 closed

[2022-10-17 18:08] notloc69420 opened #91 "bookmart method"
All answers right and flood game do not work the book mark method on a Chromebook

[2022-10-17 18:15] rxzyx commented on #91
False issue. Inspect. Bookmark soon. + Repeated false issue.

[2022-10-17 18:15] #91 closed

[2022-10-17 18:51] Bannedagian opened #92 "[BUG]"
I was banned from blooket agian, I was just wondering if you could help lots of people out by making a hack to get us unbanned. also your add tokens hack didnt work and got me bannned

[2022-10-17 18:52] rxzyx commented on #92
Unban hack is not possible. Plus failure to use ban prevention (Anti-Ban) hack. Read the main file (README.MD), I am not responsible with your usage of actions with the cheats.

[2022-10-17 18:52] #92 closed

[2022-10-17 18:52] rxzyx commented on #92
Tokens was also tested, works fine.

[2022-10-19 00:30] Milano12K opened #93 "Bug With tokens"
It redirects you then doesn't work(add tokens)

[2022-10-19 00:53] Angelio-Mustachio-Coder commented on #93
He's working on it

[2022-10-19 00:54] Angelio-Mustachio-Coder opened #94 "Request, not a bug."
Is there any way to create a script for the "battle royale" mode? or is it not workable?

[2022-10-19 07:26] rxzyx commented on #93
Tested. It works. You have to run the code again.

[2022-10-19 07:26] #93 closed

[2022-10-19 07:26] rxzyx commented on #94
Not an issue.

[2022-10-19 07:26] #94 closed

[2022-10-19 07:28] rxzyx commented on #94
Not possible.

[2022-10-19 11:35] godlygamer123 commented on #81
thanks very much
________________________________
From: rzx. ***@***.***>
Sent: 14 October 2022 19:45
To: rxzyx/Blooket-Hacks ***@***.***>
Cc: Jude Bradley ***@***.***>; Comment ***@***.***>
Subject: Re: [rxzyx/Blooket-Hacks] [BUG]Add token is broken (Issue #81)

Fixed!

—
Reply to this email directly, view it on GitHub<https://github.com/rxzyx/Blooket-Hacks/issues/81#issuecomment-1279345249>, or

[2022-10-19 15:08] Dentamon opened #95 "Can you add this?"
Can you add a spam open boxes code?

[2022-10-19 16:45] rxzyx commented on #95
Not an issue. Next false issue will lead to a block.

[2022-10-19 16:45] #95 closed

[2022-10-19 21:40] myf20130 commented on #94
How is it not possible?

[2022-10-19 22:17] VillainsRule4000 commented on #94
@myf20130 Blooket has limits. This is part of the reason why you can't just get infinite tokens with hacks.

[2022-10-20 12:49] Jesse01px2029 opened #96 "[BUG]Monster Brawl"
I think the set damage is broken

[2022-10-20 14:39] hongquanhacker opened #97 "Candy Quest?(No bug)"
Can you add Candy Quest Hack?(Not bug)

[2022-10-20 14:57] VillainsRule4000 commented on #97
All Gold Quest hacks should work on this mode.

[2022-10-20 16:44] rxzyx commented on #97
Not an issue.

[2022-10-20 16:44] #97 closed

[2022-10-20 16:45] rxzyx commented on #96
Didn’t make the monster brawl hack. Seems to be a false issue.

[2022-10-20 16:45] #96 closed

[2022-10-20 20:21] ZackiBoiz opened #99 "Candy Quest ESP [BUG]"
**Describe the bug**
The Candy Quest ESP (In the Gold Quest folder) doesn't show the values that are hiding behind the pumpkins. VillainsRule4000 said that the Gold Quest hacks work for Candy Quest too. (Which is true, other than ESP.)

**To Reproduce**
Run Chest ESP on a Candy Quest game.

[2022-10-20 20:26] wilburcoding commented on #99
I am also experiencing this issue

[2022-10-20 20:34] #99 closed

[2022-10-20 20:34] rxzyx commented on #99
Really silly issue coming from a 'coder'. Do you not know what HTML elements are?

[2022-10-20 20:40] Glixxzzy opened #100 "Update the select all blooks one"
the new spooky box just came out today and it dosen't have the new chromas or the new rare

[2022-10-20 20:41] #100 closed

[2022-10-20 20:46] rxzyx commented on #100
Oh. And false issue, I just checked.

[2022-10-20 22:10] ZackiBoiz commented on #99
alr fine ill make one

[2022-10-20 22:32] VillainsRule4000 commented on #99
Well, yes, I didn't think about ESP. It should work fine for fetching the React values, just make sure it edits the DOM elements properly.

[2022-10-20 22:33] VillainsRule4000 commented on #100
@Glixxzzy Maybe give the username to someone who can actually code and can use it well. It unlocks all existing Blooks. smh.

[2022-10-21 16:05] AdrienHacker opened #102 "Plus user"
It does not work I does not make you a plus user

[2022-10-21 16:20] VillainsRule4000 commented on #102
The point of this hack is to grant you the plus features temporarily, not actually give you plus.

[2022-10-21 16:35] oofeddddddd opened #103 "add tokens broken"
the add token only worked once so please fix this

[2022-10-21 17:04] Angelio-Mustachio-Coder commented on #103
It should work, he tested it.

[2022-10-21 18:04] rxzyx commented on #102
On point.

[2022-10-21 18:04] #102 closed

[2022-10-21 18:04] rxzyx commented on #103
False issue. It works.

[2022-10-21 18:04] #103 closed

[2022-10-21 18:05] rxzyx commented on #103
Oh, and also inability to read

[2022-10-21 21:53] fwl4k opened #104 "[BUG]"
I don't know if it is the computer i am using or it is the code. I use my school computer but everytime i use the code it send me to a new tab and say it blocked but last school year it didn't do that so is that a issue with my computer or the code fault

[2022-10-21 21:54] rxzyx commented on #104
Computer.

[2022-10-21 21:54] #104 closed

[2022-10-21 22:23] AdrienHacker commented on #102
Thanks?

On Fri, Oct 21, 2022 at 2:04 PM rzx. ***@***.***> wrote:

[2022-10-21 22:27] AdrienHacker opened #105 "Add (Get All blooks)"
Can you please add (get all blooks).

[2022-10-21 23:36] Popcorndud commented on #105
It's "Select Any Blook".

[2022-10-22 08:23] rxzyx commented on #105
On point.

[2022-10-22 08:23] #105 closed

[2022-10-24 13:17] oofeddddddd opened #106 "Add tokens thing"
it works 1 time a day could you make it to where you can spam it?

[2022-10-24 13:19] Wilke000 commented on #106
That is impossible

[2022-10-24 13:36] #106 closed

[2022-10-24 13:36] rxzyx commented on #106
Server Sided

[2022-10-24 15:38] SchoolLazy opened #107 "[BUG]"
the get all anserrs right hack does not work

[2022-10-24 15:45] AdrienHacker opened #108 "Get all blooks in the game for ever (Unlock all the blooks)"
Get all blooks in the game for ever (Unlock all the blooks)

Thanks:)

[2022-10-24 15:46] AdrienHacker commented on #105
Thanks but thats not what I ment

Pls keep it up

[2022-10-24 16:04] rxzyx commented on #107
False issue.

[2022-10-24 16:04] #107 closed

[2022-10-24 16:04] rxzyx commented on #108
Impossible unless you can save the value somewhere.

[2022-10-24 16:04] #108 closed

[2022-10-24 16:04] rxzyx commented on #108
I can try this later on.

[2022-10-24 16:05] rxzyx commented on #108
Just for you to know this will only be client-sided. Not server-sided.

[2022-10-24 16:05] rxzyx commented on #108
Also how is this an issue?

[2022-10-24 16:20] Wilke000 commented on #108
It’s not lol

[2022-10-24 17:05] AdrienHacker commented on #108
Sorry for putting it in issus

[2022-10-24 17:09] Wilke000 commented on #108
Where else are you supposed to put it there is no discussions *pls add that btw rxzyx that would help people like me who don’t have discord*

[2022-10-24 17:11] rxzyx commented on #108
Discussions? ROFL. Sorry, not paying for my own private server lol. Make a discord account if you want to make a suggestion, you made a github one, how is it so hard?

[2022-10-24 17:12] AdrienHacker commented on #108
This issu/request will help everyone

[2022-10-24 17:13] AdrienHacker commented on #108
Think about it pls

[2022-10-24 17:13] rxzyx commented on #108
I can do it but there is no reason to.

[2022-10-24 17:13] AdrienHacker commented on #108
Why?

[2022-10-24 17:14] rxzyx commented on #108
Plus, “client-sided”

[2022-10-24 17:14] rxzyx commented on #108
“no reason to”, not good enough?

[2022-10-24 17:14] AdrienHacker commented on #108
What does that mean

[2022-10-24 17:14] rxzyx commented on #108
To dumb it down something stored on the server

[2022-10-24 17:14] AdrienHacker commented on #108
client sided

[2022-10-24 17:17] AdrienHacker commented on #108
I searched for 3 months looking for someone who makes hacks that work.

[2022-10-24 17:18] AdrienHacker commented on #108
Hi?

[2022-10-24 17:18] rxzyx commented on #108
And you found it after like idk 2 min, so ok simple answer no now don’t comment back.

[2022-10-24 17:18] Wilke000 commented on #108
@AdrienHacker
[Use these](https://github.com/Minesraft2/Blooket-Cheats/blob/main/obfuscated/gui.js)

[2022-10-24 17:19] rxzyx commented on #108
Promotions are not allowed.

[2022-10-24 17:21] Wilke000 commented on #108
Yea i knew u were gonna do that

[2022-10-24 17:24] AdrienHacker commented on #108
![Screenshot (13)](https://user-images.githubusercontent.com/115197019/197587830-68cc2d20-db11-44ba-ae8e-af8cb182f871.png)

[2022-10-24 17:24] AdrienHacker commented on #108
I just started after the update and that's all I have

[2022-10-24 21:42] Angelio-Mustachio-Coder opened #109 "Idrk if this is a bug"
With the "manipulate plus", does it give early event accsess? Would be interesting to know for the new event.

[2022-10-25 03:04] rxzyx commented on #109
Not an issue. And yes.

[2022-10-25 03:04] #109 closed

[2022-10-25 15:22] SchoolLazy commented on #107
i tried it it never worked even in monster brawl

[2022-10-25 20:56] paperclipity opened #110 "Candy Rush/Gold Rush Bug"
*I only tested Candy Rush*

When you use the [ChestESP](https://github.com/rxzyx/Blooket-Hacks/blob/main/Candy%20Quest/Chest%20ESP.js), it works, but the Money Display glitches. It will never change. I don't know if it was just me.

[2022-10-25 23:34] Angelio-Mustachio-Coder commented on #109
How does it work then? do you run the code in stats or what?

[2022-10-25 23:46] VitalTencelll commented on #110
No, it's not just you. I've been using this and the candy display stays to 0. I'm pretty sure rxzyx would fix it by now or next week. All we have to do now is be patient and wait.

[2022-10-26 02:32] rxzyx commented on #110
Really? Didn’t happen with me. I’ll look into it.

[2022-10-26 02:32] #110 closed

[2022-10-26 12:42] VitalTencelll commented on #110
Alright, thanks.

[2022-10-26 18:32] 4200hahafunnyxd opened #111 "Make spam open boxes hack please"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-10-26 18:38] Wilke000 commented on #111
Not an error pls close

[2022-10-26 18:42] TheBobCreator commented on #111
stop, this is NOT AN ISSUE!!!!!!!!!

[2022-10-26 18:43] TheBobCreator commented on #111
Note for everyone: don't submit issues that are actually REQUESTS.

[2022-10-26 19:23] tatertot0911 commented on #111
IT'S IMPOSSIBLE TO DO SPAM OPEN BOXES

[2022-10-26 19:39] Wilke000 commented on #111
thats not true

[2022-10-26 20:05] ZackiBoiz commented on #111
False issue. Not a bug.

[2022-10-27 00:30] BlooketHeck commented on #111
not a bug

[2022-10-27 00:32] BlooketHeck opened #113 "Flappy Bird Not Working"
Whenever I try using the [Flappy Bird](https://github.com/rxzyx/Blooket-Hacks/tree/main/Flappy%20Bird) hacks it never works, idk if I'm using it wrong.

[2022-10-27 00:37] VillainsRule4000 commented on #111
@rxzyx close.

[2022-10-27 00:38] VillainsRule4000 commented on #113
Could you screen record you using it and failing?
Mac: https://support.apple.com/en-us/HT208721
Chrome: https://support.google.com/chromebook/answer/10474268?hl=en
Windows: https://www.tomshardware.com/how-to/screen-record-in-windows#:~:text=Hit%20the%20Windows%20Key%20%2B%20Alt,most%20likely%20in%20a%20corner.

[2022-10-27 00:44] BlooketHeck commented on #113
[Screen recording 2022-10-26 8.41.33 PM.webm](https://user-images.githubusercontent.com/94115787/198164755-765d37ee-d487-494f-a57c-14401466bc01.webm) It may look like I didn't put in the code but  I did

[2022-10-27 00:52] NathanBollard opened #114 "Set Xp.js"
[Set Xp.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Monster%20Brawl/Set%20Xp.js) does not work.

[2022-10-27 00:56] BlooketHeck commented on #114
Could you do a screen recording of it not working?

[2022-10-27 00:56] NathanBollard commented on #114
How would I do that, @BlooketHeck?

[2022-10-27 00:57] BlooketHeck commented on #114
Mac: https://support.apple.com/en-us/HT208721
Chrome: https://support.google.com/chromebook/answer/10474268?hl=en
Windows: https://www.tomshardware.com/how-to/screen-record-in-windows#:~:text=Hit%20the%20Windows%20Key%20%2B%20Alt,most%20likely%20in%20a%20corner.

[2022-10-27 00:59] NathanBollard commented on #114
I'm on a chromebook, so I can't. Can you record a video of using [Set Xp.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Monster%20Brawl/Set%20Xp.js), @BlooketHeck?

[2022-10-27 01:02] BlooketHeck commented on #114
Too screen record on Chromebook you click on Time > Screen Capture > Camera Icon on the bottom of screen and drag where  you wanna record

[2022-10-27 01:07] BlooketHeck commented on #114
@rxzyx @VillainsRule4000 Could you review this?

[2022-10-27 01:08] BlooketHeck commented on #114
If you cant thats fine

[2022-10-27 01:09] NathanBollard commented on #114
Sorry, I'm new, how do you upload in GitHub?

[2022-10-27 01:10] NathanBollard commented on #114
Oh nvm

[2022-10-27 01:11] NathanBollard commented on #114
[Here's the video.](https://user-images.githubusercontent.com/116772462/198167727-9d34e436-9565-464e-8d3a-920837c53991.webm)

Keep in mind that this is the right script.

[2022-10-27 01:14] BlooketHeck commented on #114
@rxzyx @VillainsRule4000 Could you review this issue? #114

[2022-10-27 01:15] Wilke000 commented on #114
*sees a bunch of the rock meme pictures”
Me: OOOOOOOOOO

[2022-10-27 01:15] BlooketHeck commented on #114
Lol so true

[2022-10-27 01:24] NathanBollard opened #115 "Chest ESP.js"
Rename [_"Candy Quest/**Chest ESP.js**"_](https://github.com/rxzyx/Blooket-Hacks/blob/main/Candy%20Quest/Chest%20ESP.js) to _'Candy Quest/**Pumpkin ESP.js**'_.

[2022-10-27 01:27] VillainsRule4000 commented on #114
fine stop

[2022-10-27 01:28] NathanBollard commented on #114
Thanks!

[2022-10-27 01:29] VillainsRule4000 commented on #114
it's made for inspect

[2022-10-27 01:34] VillainsRule4000 commented on #114
@NathanBollard @BlooketHeck
Fixed, don't forget to add `javascript:` before the script.
[code]

[2022-10-27 01:35] NathanBollard commented on #114
I'm going to test it out to see if it works.

[2022-10-27 01:39] NathanBollard commented on #114
Works on solo matches!

[2022-10-27 01:43] NathanBollard commented on #114
okie

[2022-10-27 01:44] VillainsRule4000 commented on #115
done in a PR

[2022-10-27 02:00] VillainsRule4000 commented on #115
Fixed in #116.

[2022-10-27 02:00] VillainsRule4000 commented on #114
Fixed in #116.

[2022-10-27 02:00] VillainsRule4000 commented on #113
Fixed in #116.

[2022-10-27 03:54] NathanBollard commented on #115
Thanks!

[2022-10-27 03:57] NathanBollard commented on #115
a

[2022-10-27 04:35] NathanBollard opened #117 "Remove Pipes.js"
[Remove Pipes.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Flappy%20Bird/Remove%20Pipes.js) does not work.

#113 #88 #32

[2022-10-27 04:39] NathanBollard opened #118 "Set Score.js"
[Set Score.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Flappy%20Bird/Set%20Score.js) does not work.

#113 #88 #32

[2022-10-27 04:49] NathanBollard commented on #114
Can you rename "Set Xp.js" to 'Set XP.js', too?

[2022-10-27 05:03] NathanBollard opened #119 "Flood Game.js"
[Flood Game.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/Flood%20Game.js) does not work.

[2022-10-27 10:26] #113 closed

[2022-10-27 11:05] Wilke000 commented on #115
No don’t because they are the same thing and will be switched back soon

[2022-10-27 11:55] rxzyx commented on #114
False issue.

[2022-10-27 11:55] rxzyx commented on #115
False issue.

[2022-10-27 11:55] #115 closed

[2022-10-27 11:56] rxzyx commented on #117
Ask @notzastix. And also pretty sure this is a false issue.

[2022-10-27 11:56] #117 closed

[2022-10-27 11:56] rxzyx commented on #118
Made by @notzastix . Also false issue.

[2022-10-27 11:56] #118 closed

[2022-10-27 11:56] rxzyx commented on #119
False issue.

[2022-10-27 11:56] #119 closed

[2022-10-27 11:57] rxzyx commented on #111
False issue.

[2022-10-27 11:57] #111 closed

[2022-10-27 15:23] LordofPengiun opened #120 "Get all questions correct doesn't work in battle royale"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-10-27 15:24] rxzyx commented on #120
False issue. Will test later again.

[2022-10-27 15:24] #120 closed

[2022-10-27 15:25] Wilke000 commented on #120
Yea battle Royale for some reason can’t be hacked I think

[2022-10-27 15:28] rxzyx commented on #120
Ok.

[2022-10-27 16:59] NathanBollard commented on #119
No, it really doesn't work.

[2022-10-27 19:49] BlooketHeck opened #124 "Custom Blooks.js does not work"
[Custom Blooks.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/Custom%20Blooks.js) Does not work
[Uploading Screen recording 2022-10-27 3.48.09 PM.webm…]()

[2022-10-27 19:55] ZackiBoiz commented on #124
@BlooketHeck That video didn't link up...

(Custom Blooks.js)[https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/Custom%20Blooks.js] does work. There isn't a proper way to get IDs however. I will be making a way to get IDs.

If this didn't help, please restate the problem.

[2022-10-27 19:56] BlooketHeck commented on #124
[Screen recording 2022-10-27 3.48.09 PM.webm](https://user-images.githubusercontent.com/94115787/198385925-d1966843-4cde-4d62-a368-14547c51879a.webm) Try this one

[2022-10-27 19:57] VitalTencelll commented on #124
You have to host and play then do it for it to work

[2022-10-27 19:57] ZackiBoiz commented on #124
@VitalTencelll No, this is not "Get Any Blook"

[2022-10-27 19:58] ZackiBoiz commented on #124
@BlooketHeck That is my fault, as I put a comment block in the script. I'll update that. Try running it without the comments.

[2022-10-27 20:01] E10DezNuts opened #125 "Add Rewards doesn't work"
Add rewards doesn't work,. Is it just me?

[2022-10-27 20:01] BlooketHeck commented on #124
@ZackiBoiz Could you tell me what line to avoid?

[2022-10-27 20:01] BlooketHeck commented on #124
Sorry, complete noob question, but what is a comment block?

[2022-10-27 20:02] ZackiBoiz commented on #124
Delete the lines with "//" at the beginning.

[2022-10-27 20:02] BlooketHeck commented on #124
Ok

[2022-10-27 20:02] ZackiBoiz commented on #124
I made a merge request to update it.

[2022-10-27 20:03] ZackiBoiz commented on #125
@E10DezNuts Send a video of you using it so I can replicate the bug

[2022-10-27 20:03] VitalTencelll commented on #125
Yes, you have to go to blooket.com/play maybe

[2022-10-27 20:04] ZackiBoiz commented on #125
@VitalTencelll correct.

[2022-10-27 20:06] BlooketHeck commented on #124
It still doesn't work

[2022-10-27 20:08] VitalTencelll commented on #125
I'm always correct hehehe

[2022-10-27 20:09] ZackiBoiz commented on #124
@BlooketHeck Send a video.

[2022-10-27 20:11] ZackiBoiz commented on #124
nevermind, I see the issue

[2022-10-27 20:11] BlooketHeck commented on #124
[Screen recording 2022-10-27 4.10.21 PM.webm](https://user-images.githubusercontent.com/94115787/198388586-cf75f0ac-fe67-4eed-9664-b81177c9679b.webm)

[2022-10-27 20:16] BlooketHeck commented on #124
@ZackiBoiz What is the issue?

[2022-10-27 20:16] ZackiBoiz commented on #124
@BlooketHeck Yes, I see. I just changed the pull req. And, also, if you want to copy that code, see it [here](https://github.com/rxzyx/Blooket-Hacks/blob/c55164f1f8c3af5132619c2d00266653018294d9/Default%20Scripts/Custom%20Blooks.js)

[2022-10-27 20:16] ZackiBoiz commented on #124
@BlooketHeck The issue was the prompts.

[2022-10-27 20:19] VillainsRule4000 commented on #125
Try @GooseterV's script

[2022-10-27 20:20] BlooketHeck commented on #124
It works but its only a sploof

[2022-10-27 20:20] ZackiBoiz commented on #124
It is perm.

[2022-10-27 20:20] ZackiBoiz commented on #124
Forever

[2022-10-27 20:21] ZackiBoiz commented on #124
oh wait. its not...

[2022-10-27 20:22] ZackiBoiz commented on #124
Yeah

[2022-10-27 20:28] ZackiBoiz commented on #124
If you have an account that has all of the items unlocked, it will be permanent.

[2022-10-27 20:31] ZackiBoiz commented on #124
It only is permanent if you have all of those items, and if you press "edit" and then "save"

[2022-10-27 21:03] VitalTencelll commented on #124
Oh

[2022-10-27 22:06] NathanBollard commented on #124
Permanent? Like you can't change it manually after inputting the custom Blooks?

[2022-10-27 22:12] NathanBollard opened #127 "Cafe --> Café"
Can you rename "Cafe" to 'Café'?

[2022-10-27 22:17] ZackiBoiz commented on #124
@NathanBollard No, you can change it. It "doesn't delete" is what I meant.

[2022-10-27 22:19] ZackiBoiz commented on #127
@NathanBollard False issue. Make a pull request if needed.

[2022-10-27 22:19] NathanBollard commented on #127
Okay.

[2022-10-27 22:19] #127 closed

[2022-10-27 23:23] probablyaarxn opened #128 "Custom Blook"
Hey, could you explain to me the process of this. I've read the whole issue previous to mine, but I dont understand how it was resolved. How do I get the blook code, what do I use to make the blook, and what are the conditions of where it will last and how I will be able to use it.

[2022-10-27 23:34] NathanBollard commented on #128
Unrelated, but how did you label that? I don't know how.

[2022-10-27 23:36] BlooketHeck commented on #128
#124 @ZackiBoiz is working on a tutorial on how to get the ID

[2022-10-27 23:36] BlooketHeck commented on #128
@rxzyx close

[2022-10-27 23:37] NathanBollard commented on #128
How do you actually label issues tho

[2022-10-27 23:37] probablyaarxn commented on #128
thanks man

[2022-10-27 23:38] probablyaarxn commented on #128
also while we're here, what is Manipulate Plus?

[2022-10-27 23:39] NathanBollard commented on #124
Whew.

[2022-10-27 23:39] NathanBollard commented on #128
Look in README.md.

[2022-10-27 23:41] NathanBollard opened #130 "How do you add labels to issues? [UNRELATED]"
How do you add labels to issues?

[2022-10-27 23:46] NathanBollard commented on #128
Basically what it says is that you can access modes that only Plus or Plus Flex members can. Manipulate Plus.js was created because of the first week Monster Brawl was out.

[2022-10-27 23:47] NathanBollard opened #131 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-10-27 23:48] #131 closed

[2022-10-27 23:48] #130 closed

[2022-10-27 23:57] NathanBollard opened #132 "Flood Game.js"
[Flood Game.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/Flood%20Game.js) does not work.

[Screen recording 2022-10-27 4.56.23 PM.webm](https://user-images.githubusercontent.com/116772462/198418912-daefb7f8-d5b5-4f05-9252-f6b363656a4a.webm)

## References
#119 #61 #56 #6

[2022-10-28 00:55] #124 closed

[2022-10-28 01:49] hogridertheone opened #133 "not a bug pls read"
**Describe the bug**
can u make a reset coins limit (daily limit)

**To Reproduce**

[2022-10-28 02:51] rxzyx commented on #125
False issue.

[2022-10-28 02:51] #125 closed

[2022-10-28 02:51] rxzyx commented on #128
Being developed by @ZackiBoiz. Hack will be improved.

[2022-10-28 02:51] #128 closed

[2022-10-28 02:52] rxzyx commented on #132
Can’t view the video. I’ll check later.

[2022-10-28 02:52] #132 closed

[2022-10-28 02:53] rxzyx commented on #132
I made it slower because before it wasn’t working, so looks like it has to be even slower.

[2022-10-28 02:53] rxzyx commented on #133
False issue. Not possible.

[2022-10-28 02:53] #133 closed

[2022-10-28 03:12] ZackiBoiz commented on #128
@probablyaarxn Just as @rxzyx said, yes, I will improve this.

[2022-10-28 17:35] Wilke000 opened #134 "Custom Blooks"
In the readme, the custom blooks link leads to this:
<img width="1436" alt="Screenshot 2022-10-28 at 1 34 39 PM" src="https://user-images.githubusercontent.com/85253703/198698060-fcd0f3d3-a75e-47a8-90dd-129736d43da9.png">

(the top one)
<img width="792" alt="Screenshot 2022-10-28 at 1 34 19 PM" src="https://user-images.githubusercontent.com/85253703/198698013-be919879-8846-42f1-bd61-7ea5fe8b071c.p

[2022-10-28 17:35] rxzyx commented on #134
Thanks. Error from @ZackiBoiz.

[2022-10-28 17:35] #134 closed

[2022-10-28 17:38] rxzyx commented on #134
Looks like a false issue. Please refresh the README.MD.

[2022-10-28 17:41] Wilke000 commented on #134
no look
    - <a href="https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/Host/Custom%20BlookS.js">Custom BlookS</a> - Sets your custom Blooks using IDs.

[2022-10-28 17:41] rxzyx commented on #134
^ I know. I deleted my message.

[2022-10-28 17:44] rxzyx commented on #134
Also @NathanBollard made the issue.

[2022-10-28 17:52] VillainsRule4000 opened #135 "Small mistake"
![image](https://user-images.githubusercontent.com/101288516/198700932-9cc6e6ed-a916-4933-a3e7-045e724e035c.png)

[2022-10-28 17:53] rxzyx commented on #135
@NathanBollard did it.

[2022-10-28 17:53] #135 closed

[2022-10-28 17:58] AdrienHacker opened #137 "This is not an issue, more of a request"
Is there a way to reset the daily limit, so I could use Get Tokens twice or more a day.

[2022-10-28 17:58] rxzyx commented on #137
Not an issue. And no.

[2022-10-28 17:58] #137 closed

[2022-10-28 17:59] AdrienHacker commented on #137
why

[2022-10-28 18:00] AdrienHacker commented on #137
is it possible

[2022-10-28 18:00] rxzyx commented on #137
Sever sided.

[2022-10-28 18:01] AdrienHacker commented on #137
Oh, okay thanks
I like it how you reply to issues instantly

[2022-10-28 18:01] AdrienHacker commented on #137
By

[2022-10-28 18:07] Aman122608 opened #138 "Kicked"
Give crypto gets me kicked

[2022-10-28 18:07] rxzyx commented on #138
False issue.

[2022-10-28 18:07] #138 closed

[2022-10-28 18:08] rxzyx commented on #138
Your host kicked you.

[2022-10-28 20:02] notzastix commented on #117
It works perfectly fine.

[2022-10-28 20:33] Aman122608 commented on #138
Nope, when I use it and then I get an answer correct and choose a multiplier it kicked me out.

[2022-10-28 20:56] TheBobCreator commented on #138
wrong. it does not kick you

[2022-10-28 22:26] ZackiBoiz commented on #134
Yeah, sorry about that.

[2022-10-29 19:30] zpros123 opened #139 "Contest of candy"
Are you working/going to work on a Contest of Candy cheat? Maybe it could be like set candy corn or give yourself candy packs?

[2022-10-29 20:21] Glixxzzy commented on #139
or maybe set toys?

[2022-10-30 01:56] BlooketHeck commented on #139
False issue @rxzyx

[2022-10-30 04:17] NathanBollard opened #140 "[Suggestion] Select Any Blook Icon.js"
I have a suggestion. Right now, Select Any Blook.js let's you, select any Blook, in the game lobby. What if there was a way to select any Blook in the Blook icon in Stats? And, for an addition, allow to choose current custom Blooks too!

[2022-10-30 07:32] rxzyx commented on #139
False issue.

[2022-10-30 07:32] #139 closed

[2022-10-30 07:32] rxzyx commented on #140
False issue.

[2022-10-30 07:32] #140 closed

[2022-10-30 22:45] NathanBollard commented on #140
Because it's a suggestion!

[2022-10-30 22:45] NathanBollard commented on #140
Do you know what a suggestion is?

[2022-10-30 22:56] NathanBollard opened #141 "Set Score.js"
[Set Score.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Flappy%20Bird/Set%20Score.js) does not work.

## References
#118 #113 #88 #32

[2022-10-30 22:57] NathanBollard commented on #118
#141

[2022-10-30 22:57] NathanBollard commented on #88
#141

[2022-10-30 22:59] VillainsRule4000 commented on #140
Join the discord.

[2022-10-30 23:02] NathanBollard commented on #141
Proof:
[Screen recording 2022-10-30 4.01.30 PM.webm](https://user-images.githubusercontent.com/116772462/198906043-d73ae226-97a2-407c-8522-3274484873e6.webm)

[2022-10-30 23:04] NathanBollard commented on #141
Proof:
[Video](https://user-images.githubusercontent.com/116772462/198906139-e6643a3d-af70-413a-909e-ffdf121e5e28.webm)

[2022-10-30 23:07] NathanBollard commented on #134
Sorry, that was an accident. :(

[2022-10-30 23:07] NathanBollard commented on #140
Oh.

[2022-10-31 03:10] Glixxzzy opened #142 "Select any blook doesn't work. [BUG]"
I've tried it so many times and it doesn't seem to work. I think they patched it. Can you make a updated version of it?

[2022-10-31 11:45] rxzyx commented on #141
“Closed this as completed”.

[2022-10-31 11:45] #141 closed

[2022-10-31 11:47] rxzyx commented on #142
Seems to be a false issue. Will check later.

[2022-10-31 11:47] #142 closed

[2022-10-31 12:19] Minemaster121 opened #143 "Create Custom Blook"
How does the create custom blook work? I don't understand the codes.

[2022-10-31 12:40] VitalTencelll commented on #143
I'll be honest with you, I have no idea.

[2022-10-31 12:41] rxzyx commented on #143
Not an issue. Strike 1. Another strike = block.

[2022-10-31 12:41] #143 closed

[2022-10-31 15:25] police234 opened #144 "this is not an issue but can you also make gimkit hacks and if you do can you make a infinite xp hack the limit is 15,000 so you can only get one gimkit person per week"
and if you do can you make a infinite xp hack the limit is 15,000 so you can only get one gimkit person per week

[2022-10-31 16:21] rxzyx commented on #144
Not an issue.

[2022-10-31 16:21] #144 closed

[2022-10-31 16:38] notzastix commented on #141
can you show a picture of the console if possible?
seems to work fine for me

[2022-10-31 17:48] NathanBollard commented on #141
?

[2022-10-31 21:45] police234 opened #145 "hack doesn't work"
get all blooks not working

[2022-11-01 12:18] ZackiBoiz commented on #145
I will look into that.

[2022-11-01 12:41] rxzyx commented on #145
Not made by me.

[2022-11-01 12:41] #145 closed

[2022-11-01 18:45] Blooketuser99 opened #149 "[BUG]"
Do you think you can back the codes up to date I'm haveing trouble with some of them so could you bring them to date?

[2022-11-01 18:46] #149 closed

[2022-11-01 20:12] EdoCustomLegend opened #151 "Select Blook"
The select blook isnt working anymore

[2022-11-01 20:37] ZackiBoiz commented on #151
@rxzyx Didn't make this hack.

I am already looking into this. #148

[2022-11-01 22:47] tatertot0911 opened #152 "[BUG]"
select any blook doesn't do anything.

[2022-11-01 22:50] yapgamer opened #153 "Most of the hacks dont work"
Im using firefox. The only one that works so far is the add token, the others such as select any blook dont work, I tested if they worked as a bookmarklet and the token one is the only one that works

I run the select any blook hack and this happens "Uncaught TypeError: Object.values(...).find(...) is undefined
    <anonymous> debugger eval code:1

Also how does the host folder stuff work?

[2022-11-02 02:49] ZackiBoiz commented on #153
1. [Select any Blook.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/Select%20Any%20Blook.js) is being fixed - #148
2. If you need to convert the scripts to bookmarklets, use [this](https://caiorss.github.io/bookmarklet-maker/)
3. I'm assuming you are talking about [this](https://github.com/rxzyx/Blooket-Hacks/tree/main/Default%20Scripts/Host) folder? If so, these hacks are

[2022-11-02 03:00] rxzyx commented on #151
^

[2022-11-02 03:00] #151 closed

[2022-11-02 03:00] rxzyx commented on #152
Maybe you should check the other issues.

[2022-11-02 03:00] #152 closed

[2022-11-02 03:01] rxzyx commented on #153
^. Hacks work fine.

[2022-11-02 03:01] #153 closed

[2022-11-02 03:07] dfuegos commented on #119
im confused on how to use it

[2022-11-02 12:11] Dentamon opened #155 "Please add this"
Can you add spam boxes?

[2022-11-02 12:12] rxzyx commented on #155
Not an issue. Blocked.

[2022-11-02 12:12] #155 closed

[2022-11-02 12:13] rxzyx commented on #155
Next false issue is a block.

[2022-11-02 12:15] VillainsRule4000 commented on #155
You should add Spam Boxes though

[2022-11-02 12:15] VillainsRule4000 commented on #155
It's a good hack

[2022-11-02 12:15] VillainsRule4000 commented on #155
@Dentamon https://github.com/Minesraft2/Blooket-Cheats for a spam boxes :)

[2022-11-02 12:16] VillainsRule4000 opened #156 "⚠️ READ BEFORE ISSUE ⚠️"
## Hack(s) Not Working
First...
1. Check the Pull Requests to make sure none are open that modify the hack.
2. Make sure you are using the latest version

**If these have been done, open a issue and...**
1. Add a link to the hack.
2. Screenshot console errors (if possible)

[2022-11-02 12:16] rxzyx commented on #155
Deleted for advertisement.

[2022-11-02 12:17] rxzyx commented on #155
Ok, but this is not how to get your message across.

[2022-11-02 12:18] rxzyx commented on #156
Ok. I will add this later.

[2022-11-02 12:18] #156 closed

[2022-11-02 12:18] rxzyx commented on #156
Thanks.

[2022-11-02 12:18] VillainsRule4000 commented on #155
Some people don't have Discord.

[2022-11-02 12:26] ZackiBoiz commented on #156
Pin this

[2022-11-02 12:27] rxzyx commented on #156
Oh alr. Thought you meant template.

[2022-11-02 15:27] cursxdforlife opened #157 "no spam open boxes"
pls add this feature i need to spam spooky box

[2022-11-02 15:28] Wilke000 commented on #157
Lol just look for other hacks, ik someone who has spam open but I can’t advertise it sry! And not an issue please close

[2022-11-02 15:42] Angelio-Mustachio-Coder commented on #157
just click instant open and Spam. NOT AN ISSUE

[2022-11-02 16:17] leo80099 commented on #157
how do you do the hack's

[2022-11-02 16:25] #157 closed

[2022-11-02 16:25] rxzyx commented on #157
Not an issue!

[2022-11-02 17:53] SchoolLazy opened #159 "[BUG]"
i chose the rainbow astornaut and when i chose it the blook i had was a cow and its more difficult to type in the blook you

[2022-11-02 17:53] rxzyx commented on #159
???.

[2022-11-02 17:53] #159 closed

[2022-11-02 17:59] SchoolLazy commented on #159
![Screenshot 2022-11-02 10 57 45 AM](https://user-images.githubusercontent.com/116580502/199566402-025e02d0-33c6-41a2-8849-18c673dda936.png)
what i chose

[2022-11-02 18:00] SchoolLazy commented on #159
i was testing the updated hack out and it does not work anymore

[2022-11-02 18:03] rxzyx commented on #159
Ok. Sorry, turns out everyone complaining about the hack not working was probably a false issue, will be reverted back to original!

[2022-11-02 18:23] ZackiBoiz commented on #157
Again, no issue here.

[2022-11-02 18:24] ZackiBoiz commented on #159
That's weird.

[2022-11-02 18:24] ZackiBoiz commented on #159
Did not happen when I tested

[2022-11-02 18:45] SchoolLazy commented on #159
like it does work to type in the blook you want but it doesent show the one you chose when you game starts

[2022-11-02 18:46] SchoolLazy commented on #159
bruh

[2022-11-02 19:36] dragon731012 opened #161 "fix set damage"
monster brawl set damage won't work for me.

[2022-11-02 20:00] ZackiBoiz commented on #161
Not an issue. #156

[2022-11-02 20:03] ZackiBoiz commented on #161
Will look into.

[2022-11-02 20:54] BlooketHeck commented on #161
Could you send a screen recording as said in #156

[2022-11-02 21:13] ZackiBoiz commented on #161
Yes, as it will help with what was going wrong. Also, if possible, record what happened in the console.

[2022-11-02 22:42] musty40yearoldinmyparentsbasement opened #163 "the select any blook does not work still"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-11-03 01:16] ZackiBoiz commented on #163
Please add a video of you running the script #156

Since you haven't added a clear description, I don't know what you are experiencing. I have made a pull request on changing the script however. (#162)

This should hopefully help you.

[2022-11-03 01:18] ZackiBoiz commented on #163
If you want the script from the pull request I made, it's [here](https://github.com/rxzyx/Blooket-Hacks/blob/b783012c30f9c69546a68eba43b5e5fe7dfa306a/Default%20Scripts/Select%20Any%20Blook.js)

[2022-11-03 01:44] Dentamon commented on #155
ye do you have guilded

[2022-11-03 03:04] rxzyx commented on #163
^

[2022-11-03 03:04] #163 closed

[2022-11-03 03:04] rxzyx commented on #161
Waiting for the video.

[2022-11-03 03:04] #161 closed

[2022-11-03 15:01] shivie00 opened #164 "hello i would like to adress a quick thing i wish was addedd"
hello, this isn't necessarily an issue but a little fix, would it be alright if you added an auto open boxes feature? this is a feature where you type how many boxes you want to open and then auto-open it. I would love this hack

          cheers, shivam mohanty

[2022-11-03 15:02] VillainsRule4000 commented on #164
@rxzyx False issue.
@shivie00 Join the Discord server for suggestions.

[2022-11-03 17:20] rxzyx commented on #164
No false issue challenge in 1 day [IMPOSSIBLE]

[2022-11-03 17:20] #164 closed

[2022-11-03 17:24] VillainsRule4000 commented on #164
I am going to go through all 130 issues and count the dumb ones.

[2022-11-03 18:16] Giantcloud4 opened #165 "[BUG] Flood game"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.
I try to flood the game but it does not work

[2022-11-03 18:17] rxzyx commented on #165
False issue. Tested. Will test later again.

[2022-11-03 18:17] #165 closed

[2022-11-03 23:24] NathanBollard commented on #156
Thank you!

[2022-11-04 12:36] Beastmode99789 opened #169 "1 Feature Doesnt Work..."
Custom Blooks Sort Of works but only in lobby

if its supposed to be like that lmk

[2022-11-04 12:37] rxzyx commented on #169
It works. False issue. Has to be in game waiting scree.

[2022-11-04 12:37] #169 closed

[2022-11-04 16:48] ItzBK29 opened #170 "Can you please make a auto open feature for blooket please please please"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Run the code, if there is an error, provide a screenshot or copy the error. However, if there is no error but it doesn't work then show the url on where it was made and how you ran the code.

[2022-11-04 17:16] BlooketHeck commented on #170
@rxzyx False issue

[2022-11-04 17:17] BlooketHeck commented on #170
See #156

[2022-11-04 18:37] NathanBollard commented on #170
False issue.

[2022-11-04 18:37] rxzyx commented on #170
False issue.

[2022-11-04 18:37] #170 closed

[2022-11-04 21:02] ItzsMeAight opened #172 "[BUG] ANTI BAN"
So i did in the search bar "javascript:" all the other scripts work fine but when i did anti ban the host kicked me and i no longer was on the leadarboard, how is it meant to work?

[2022-11-04 22:04] NathanBollard commented on #172
[Anti-Ban.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/Anti-Ban.js) is supposed to let you play on your account even if your account is blocked or temporarily blocked.

[2022-11-04 22:04] NathanBollard commented on #172
This issue breaks the issue rule 2.1.

[2022-11-04 22:04] NathanBollard commented on #172
False issue.

[2022-11-05 02:04] BlooketHeck commented on #172
False Issue

[2022-11-05 02:06] BlooketHeck commented on #172
See #156

[2022-11-05 02:38] chessmcface opened #173 "Add spam open boxes"
@rxzyx you should add a spam open boxes hack, it really is helpful.
Otherwise your hacks are probably the best right now.

[2022-11-05 03:23] ZackiBoiz commented on #173
False issue #156

[2022-11-05 05:51] rxzyx commented on #172
False issue.

[2022-11-05 05:51] #172 closed

[2022-11-05 05:52] rxzyx commented on #172
Misinformation. Anti-ban is supposed to PREVENT your account from being banned.

[2022-11-05 05:53] rxzyx commented on #173
False issue.

[2022-11-05 05:53] #173 closed

[2022-11-05 13:49] chessmcface commented on #172
@rxzyx what page on blooket do you use anti-ban on?

[2022-11-05 18:26] ZackiBoiz commented on #172
@chessmcface Any page.

[2022-11-06 05:05] Glixxzzy opened #176 "Set lure [BUG]"
When it asks me what lure value, I type 5 but then it sets it to 4.
[Screen recording 2022-11-06 1.04.20 AM.webm](https://user-images.githubusercontent.com/108609138/200155135-d7b027e1-8f2a-4ba0-8b85-34be84e75933.webm)

[2022-11-06 05:09] #176 closed

[2022-11-06 17:29] addasdasdasdasdasd opened #178 "[BUG]"
Blook rush hacks get blooks do not work

[2022-11-06 17:30] rxzyx commented on #178
They should work, last time tested it did.

[2022-11-06 17:30] #178 closed

[2022-11-06 23:53] ZackiBoiz commented on #178
^

[2022-11-06 23:53] ZackiBoiz commented on #176
What?

[2022-11-06 23:54] ZackiBoiz commented on #176
Oh, that's because you have to reduce it by 1 to get the actual lure value

[2022-11-07 00:05] addasdasdasdasdasd opened #182 "New request"
There should be a command where you can simulate opening blooks from certain packs

[2022-11-07 00:35] Glixxzzy commented on #176
oh

[2022-11-07 01:11] ZackiBoiz commented on #182
Non issue

[2022-11-07 01:29] addasdasdasdasdasd commented on #182
where do i write the requests?

[2022-11-07 01:37] Wilke000 commented on #182
Well, I suggested he add a discussions, but he said no. If you have discord, join the discord

[2022-11-07 01:38] addasdasdasdasdasd commented on #182
yeah, what is the discord server link

[2022-11-07 01:39] Wilke000 commented on #182
On the readme

[2022-11-07 01:40] Wilke000 commented on #182
https://discord.gg/abqMVbDanB￼
Join the rzx's modz Discord Server!
discord.gg

[2022-11-07 02:08] BlooketHeck commented on #182
@rxzyx False issue #156

[2022-11-07 09:45] GuytheKing777 opened #183 "[BUG] auto answer not working"
gives an error

[2022-11-07 11:10] BlooketHeck commented on #183
Please give a screen recording of the error. #156

[2022-11-07 12:52] rxzyx commented on #183
Send video.

[2022-11-07 12:52] #183 closed

[2022-11-07 12:53] rxzyx commented on #182
False issue.

[2022-11-07 12:53] #182 closed

[2022-11-07 16:40] GuytheKing777 commented on #183
https://www.youtube.com/watch?v=jp8NdXMbDug

[2022-11-07 16:43] rxzyx commented on #183
I didn’t make that hack, @NathanBollard did and it appears he has done it wrong.

[2022-11-07 17:21] VillainsRule4000 commented on #183
you don't test hacks before merge?
@NathanBollard nice "friend" of yours to make the hack :D

[2022-11-07 17:22] rxzyx commented on #183
I usually do if it's not obfuscated, but now I'll test.

[2022-11-07 18:34] NathanBollard commented on #172
Okay.

[2022-11-07 18:36] Wilke000 commented on #172
Anti-ban is for using a hack that works but bans you

[2022-11-07 18:36] Wilke000 commented on #172
Or just keeping you safe from blooket’s api

[2022-11-07 18:38] NathanBollard commented on #172
Not all, since there are multiple Blooket base links. It works on [play.blooket.com](https://play.blooket.com) and [dashboard.blooket.com](https://dashboard.blooket.com).

[2022-11-07 18:39] Wilke000 commented on #172
They meant any blooket page I think

[2022-11-07 18:42] NathanBollard commented on #183
It works for me! Which gamemode(s) does it not work on?

[2022-11-07 18:43] Wilke000 commented on #183
If it’s on battle Royale it’s unhackable

[2022-11-07 18:43] Wilke000 commented on #183
Anything else it should work

[2022-11-07 18:49] NathanBollard commented on #183
Thank you for letting me know. It looks like it can't be fixed in the same hack, so it'll just have a note it [README.md](https://github.com/rxzyx/Blooket-Hacks/blob/main/README.md). Don't change anything yet though, since I haven't tested it yet. I'll reply to this message once I am done testing the hack in Battle Royale.

[2022-11-07 19:39] NathanBollard commented on #183
I tested the hack out on Battle Royale, and it seems to not work. I'm guessing it doesn't work on Classic either, but note that I haven't tested on that. I guess the best solution would be the one i suggested in https://github.com/rxzyx/Blooket-Hacks/issues/183#issuecomment-1306040707.

[2022-11-07 20:40] VillainsRule4000 commented on #183
You should, as a creator of the hack, fix it on Royale. Post an unobfuscated version here and I will patch it.
In the future, have your mystery "friend" make the PR.

[2022-11-07 20:42] VillainsRule4000 commented on #172
what the heck is rule 2.1
AntiBan operates by blocking all requests to and from the API endpoint suspend-me.
It probably doesn't work since Blooket changed their API urls.

[2022-11-08 02:12] cxoio opened #187 "flood game dosen't work"
when i run the code i do the normal stuff then it only creates 1  bot and when i redo the code it dosen't work completly
so it only makes one bot and then stops. I even wait for 1 minute and still dosen't work.
![Screenshot (50)](https://user-images.githubusercontent.com/117413086/200457966-4226fc34-6905-4204-bc3f-8d24d48f325a.png)
![Screenshot (49)](https://user-images.githubusercontent.com/11741

[2022-11-08 02:37] cxoio commented on #187
i have jusgt relized how to use the flooder but please and some instructions i got really confused

[2022-11-08 02:37] #187 closed

[2022-11-08 02:52] ZackiBoiz commented on #187
It should be pretty obvious... If you find it confusing, follow these instructions

1. Copy the script
2. Go to your Blooket Play tab
3. Open console and paste script
4. Enter bot amount and bot names

[2022-11-08 13:55] Wilke000 opened #189 "Custom Blooks"
I know, i know, this isn't an issue and you will close is as soon as possible but when is the custom blooks tutorial coming out?

[2022-11-08 13:56] #189 closed

[2022-11-08 13:59] Wilke000 commented on #189
Well I was just wondering if you knew, you didn’t have to be sarcastic lol

[2022-11-08 14:00] rxzyx commented on #189
Who said I was being sarcastic? ))

[2022-11-08 14:40] PierceMichael opened #190 "Answer[BUG]"
Answer doesn't work?

setInterval(function () {  var hack = Object.values(document.querySelector('#app > div > div'))[1].children[0]['_owner'].stateNode.state.question  try {    hack.correctAnswers = hack.answers  } catch (err) {}})

[2022-11-08 14:43] rxzyx commented on #190
Error not specified. Emphasize.

[2022-11-08 14:43] #190 closed

[2022-11-08 16:30] NathanBollard commented on #183
Why would I? It's not like there's any other hacks for Battle Royale.

[2022-11-08 16:33] NathanBollard commented on #172
Rule 2.1 is in #156. It says: "1. Add a link to the hack."

[2022-11-08 17:54] VillainsRule4000 commented on #172
it's not rule 2.1 lmao

[2022-11-08 18:21] NathanBollard commented on #172
Then what is it?

[2022-11-08 19:40] ZackiBoiz commented on #189
p.q

[2022-11-08 19:57] Wilke000 commented on #189
Ok ty

[2022-11-09 05:32] NathanBollard commented on #156
@VillainsRule4000, can you edit this to remove " (best device)"? It might be your opinion, but it's not the right place.

[2022-11-09 13:53] chessmcface opened #193 "Bug:multiple not working hacks"
broken hacks
-all answeres correct
-anti-ban
-choose any block

[2022-11-09 13:54] rxzyx commented on #193
False issue.

[2022-11-09 13:54] #193 closed

[2022-11-09 13:54] rxzyx commented on #193
All 3 tested, works.

[2022-11-09 14:53] VillainsRule4000 commented on #156
it's true, macs have better security, faster performance, and are overall the best devices.
you know because they cost the most.

[2022-11-09 14:54] VillainsRule4000 commented on #193
When did you last test? @rxzyx

[2022-11-09 17:08] VillainsRule4000 commented on #156
windows user, how cringe

[2022-11-09 17:10] rxzyx commented on #193
Like 3 days ago.

[2022-11-09 17:55] VillainsRule4000 commented on #193
Try one now, if it doesn't work, then look at all three.

[2022-11-09 20:54] ZackiBoiz commented on #193
They all work. Tested.

[2022-11-09 20:54] ZackiBoiz commented on #193
@chessmcface send a video

[2022-11-09 21:27] MASTER8359 opened #194 "Bug: Monster brawl set damage does not work for me."
I put the code in the developer console but nothing happens.
https://watch.screencastify.com/v/5kk7fy92srcegBueFTib

[2022-11-09 23:26] chessmcface commented on #193
https://user-images.githubusercontent.com/105688760/200963753-ad862833-318b-46ae-9e53-79ed24cc459f.mp4

[2022-11-09 23:27] chessmcface commented on #193
done video uploaded above, this is the video about choose any blook

[2022-11-09 23:56] BlooketHeck commented on #194
That is weirld

[2022-11-10 00:38] cxoio commented on #194
its either for hosted games or just a glitch

[2022-11-10 01:19] BlooketHeck commented on #194
Let me add @VillainsRule4000 to this

[2022-11-10 01:25] unknown578 commented on #156
um how do i give myself a blook? idk how to

[2022-11-10 01:53] VillainsRule4000 commented on #194
it just doesn't work
@rxzyx remove Set Damage.js in monster brawl

[2022-11-10 02:45] NathanBollard commented on #194
I can create a pull request for that.

[2022-11-10 03:13] VillainsRule4000 commented on #194
it doesn't work.

[2022-11-10 03:30] ZackiBoiz commented on #194
Yeah, it's been like that for a while 😅

[2022-11-10 13:44] rxzyx commented on #194
Will be removed.

[2022-11-10 13:44] #194 closed

[2022-11-10 15:28] NathanBollard commented on #194
#192

[2022-11-10 18:41] NathanBollard commented on #156
Wrong issue.

[2022-11-10 21:34] MrCrayfish01 opened #197 "Bug:"
How do I use manipulate plus?
it just says undefined after I input the code

[2022-11-10 23:07] NathanBollard commented on #197
Please re-read #156.

[2022-11-10 23:08] VillainsRule4000 commented on #197
funny you say that, with all your false PRs

[2022-11-10 23:15] ZackiBoiz commented on #197
@MrCrayfish01 you are running Manipulate Plus correctly!

This hack gives you the ability to play unreleased games, that are only available to Plus users. This hack is useless right now, but will be useful when a new gamemode comes out.

[2022-11-10 23:16] ZackiBoiz commented on #197
How so?

[2022-11-10 23:57] chessmcface commented on #197
@ZackiBoiz
thxs for telling me really useful info!

[2022-11-11 00:25] Blooketetc opened #198 "Godmode won't work"
godmode in the monster brawl Category won't work

[2022-11-11 01:42] ZackiBoiz commented on #198
It does work. Make sure you are using the hack properly.

[2022-11-11 03:07] rxzyx commented on #198
^.

[2022-11-11 03:07] #198 closed

[2022-11-11 03:07] rxzyx commented on #197
^.

[2022-11-11 03:07] #197 closed

[2022-11-11 06:14] JaxsonLLama0216 opened #199 "New hack idea."
Make a new hack to where you can use characters things your profile doesn't have  (Like the blook icon, Title, and Banner.)

Sorry if it pops up as a bug (On github) I didn't know how to change it.

[2022-11-11 06:17] NathanBollard commented on #197
Stop.

[2022-11-11 07:06] cursxdforlife opened #200 "general question"
hey sorry for making an issue but there isn't a discussion. SO I was wondering if you could make it so we can use special fonts for our names
thx for reading

[2022-11-11 10:01] rxzyx commented on #199
False issue.

[2022-11-11 10:01] #199 closed

[2022-11-11 10:02] rxzyx commented on #200
False issue.

[2022-11-11 10:02] #200 closed

[2022-11-11 12:38] ZackiBoiz commented on #199
^. This is a false issue, and the idea is improbable.

[2022-11-11 12:49] VillainsRule4000 commented on #199
Impossible*

[2022-11-11 12:50] VillainsRule4000 commented on #200
start closing them as not planned
because this is impossible

[2022-11-11 13:38] ZackiBoiz commented on #199
yeah

[2022-11-11 16:46] alexanderjrueffer opened #201 "Crypto hack set password.js not working"
Set password.js for crypto hack does not work. You maintain the original password.
https://github.com/rxzyx/Blooket-Hacks/blob/main/Crypto%20Hack/Set%20Password.js

[2022-11-11 16:53] CrzyForHackz opened #202 "Bug:"
Hi! The flood game glitch sadly isn't working!?

I don't have a screen recording but I hope this alerts some to change/check it.

https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/Flood%20Game.js

[2022-11-11 17:14] rxzyx commented on #201
False issue.

[2022-11-11 17:14] #201 closed

[2022-11-11 17:16] rxzyx commented on #202
Tested. Works. Will be tested again soon.

[2022-11-11 17:16] #202 closed

[2022-11-11 17:22] VillainsRule4000 commented on #202
It actually doesn't. Test again, @rxzyx.

[2022-11-11 22:16] Saber-Tooth-Tiger opened #203 "blooket tokens does'nt work"
hi ther! the blooket token thingie doesn't work

[2022-11-11 22:18] Wilke000 commented on #203
Use it on play.blooket.com <http://play.blooket.com/>

[2022-11-11 22:50] kmanz3 opened #204 "this isnt a issue but a request"
**Describe the bug:if it is posiible can you guys make a improve pack luck hack so you can get free chromas

**Screen recording:**

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO https://github.com/rxzyx/Blooket-Hacks/issues/156*

[2022-11-11 22:51] #204 closed

[2022-11-11 23:12] Saber-Tooth-Tiger commented on #203
ikik, i did but doesn't work

On Fri, Nov 11, 2022 at 5:18 PM Wilke000 ***@***.***> wrote:

[2022-11-12 01:59] 9217182672 commented on #203
does anyone know how to hack into a school Chromebook and turn inspect on? or is that not even possible

[2022-11-12 03:46] ZackiBoiz commented on #203
It's possible through a bookmarklet.
To edit your page use,
[code]

[2022-11-12 03:47] ZackiBoiz commented on #203
It does work, make sure you are running it properly!

[2022-11-12 04:24] BlooketHeck commented on #203
@Saber-Tooth-Tiger Ok, so go to the play.blooket.com page and then type in javascript: and paste the code. If you want to copy the code go to [this](https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/Add%20Tokens%20and%20XP.js) link and click the 2 boxes overlapping each other. I hope this helps!
![Screenshot 2022-11-11 11 22 10 PM](https://user-images.githubusercontent.com/9411578

[2022-11-12 10:29] rxzyx commented on #203
False issue. Thanks to everyone who helped above.

[2022-11-12 10:29] #203 closed

[2022-11-12 11:54] rxzyx commented on #202
Tested. Fixed.

[2022-11-12 16:09] Angelio-Mustachio-Coder commented on #204
False issue. Also impossible since server based.

[2022-11-12 19:09] ZackiBoiz commented on #204
^

[2022-11-14 15:42] NathanBollard commented on #197
![dwayne johnson gif](https://user-images.githubusercontent.com/116772462/201702469-15c9ff5f-a1e6-4ebe-b39a-b2ab33f71b10.gif)

[2022-11-14 16:28] SchoolLazy opened #205 "Bug:"
how do i make the get all answers right work because it doesn't

[2022-11-14 18:04] NathanBollard commented on #205
#90

[2022-11-14 18:04] NathanBollard commented on #90
#205

[2022-11-14 18:05] rxzyx commented on #205
False issue. Will be tested again later.

[2022-11-14 18:05] #205 closed

[2022-11-14 18:06] NathanBollard commented on #205
Testing right now.

[2022-11-14 18:17] NathanBollard commented on #205
[All Answers Correct.js](https://github.com/rxzyx/Blooket-Hacks/blob/main/Default%20Scripts/All%20Answers%20Correct.js) does not work.
Proof: [Video](https://user-images.githubusercontent.com/116772462/201735774-ffd81a2f-dc66-4e0f-9937-90c1a8972a6f.webm)

[2022-11-14 18:19] VillainsRule4000 commented on #205
alright what's the issue

[2022-11-14 18:40] NathanBollard commented on #205
See https://github.com/rxzyx/Blooket-Hacks/issues/205#issuecomment-1314186259.

[2022-11-14 18:55] VitalTencelll commented on #205
Coolio

[2022-11-14 20:38] ThnksCJ opened #206 "Bug: Copied someones code"
**Describe the bug:**
seems you copied another repos code and obf'd the code

https://github.com/rxzyx/Blooket-Hacks/blob/main/Crazy%20Kingdom/Choice%20ESP.js

[code]

^^ the code deobfuscated

[2022-11-14 22:06] NathanBollard commented on #206
False issue.

[2022-11-14 22:29] NathanBollard commented on #156
Grammar issue. I suggest changing "If these have been done, open a issue and..." to "If these have been done, open an issue and...". Summary: "a issue" --> "an issue". *(Might as well just do it before anyone else notices this grammatical issue.)*

[2022-11-14 23:01] VillainsRule4000 commented on #156
idc 🤣 all you care about is how it looks
you can read it if you can read

[2022-11-14 23:02] ZackiBoiz commented on #206
This hack from glixzzy doesn't work.

[2022-11-14 23:03] ThnksCJ commented on #206
It did, but still I didn't see any credit to him + why obf a file that he didn't obf

[2022-11-14 23:57] Angelio-Mustachio-Coder commented on #206
From who?

[2022-11-15 03:01] rxzyx commented on #206
I didn't make that file.
Rest assured, I will talk with @ZackiBoiz about this.

[2022-11-15 03:05] #206 closed

[2022-11-15 04:37] NathanBollard commented on #156
Congrats, now you can say you've authorized a pinned haphazard. Just change it plz

[2022-11-15 05:16] NathanBollard commented on #156
I made a Pull Request similar to this issue's point. It's #207.

[2022-11-15 15:49] rxzyx commented on #206
And no response. Don't falsely accuse.

[2022-11-15 15:51] VillainsRule4000 commented on #206
:rofl: some people these days
even if @ZackiBoiz DID take it from gliz, oh well like who cares
at least he made it work

[2022-11-15 16:05] VillainsRule4000 opened #208 "Improper Filenames"
If I download the repo, many code editors don't recognize it properly, as folder and file names have spaces.
There are a few options for this:
1. Use dashes (ie `Fishing-Frenzy/Set-Weight.js`)
2. Just remove spaces (ie `FishingFrenzy/SetWeight.js`)
3. Use Blooket's one-word names for games and standard file naming (ie `fishing/setWeight.js`)
4. Keep it the way it is

I could make one mass commit i

[2022-11-15 16:07] rxzyx commented on #208
"I could make one mass commit in a PR. Just lmk what you decide."

Dashes would be fine.

[2022-11-15 16:07] #208 closed

[2022-11-15 17:23] VillainsRule4000 opened #210 "Bug: Tower of Doom Set Health not working"
**Describe the bug:**
When I use Tower of Doom Set Health with the Bookmarklet method, it does not set my health.

**Screen recording:**

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO [THE RULES](https://github.com/rxzyx/Blooket-Hacks/issues/156)*

[2022-11-15 17:24] VillainsRule4000 commented on #210
example issue for #156

[2022-11-15 17:28] rxzyx commented on #210
Oh, example.

[2022-11-15 17:28] #210 closed

[2022-11-15 18:10] NathanBollard commented on #210
How is this an example? This doesn't follow:

[2022-11-15 18:45] VillainsRule4000 commented on #208
Do you know how to put them into all one commit?
I will.

[2022-11-15 18:45] VillainsRule4000 commented on #210
hush

[2022-11-15 20:18] NathanBollard commented on #208
I already finished. See #211.

[2022-11-15 20:19] NathanBollard commented on #210
?

[2022-11-15 20:24] VillainsRule4000 commented on #156
updated the issue

[2022-11-15 20:27] NathanBollard commented on #156
The Screen Recording area seems a little complicated. You can use this instead:

* Mac > Shift + Cmd ⌘ + 5
* Windows > ⊞ Win + Alt + R
* Chromebook > Shift + Ctrl + ![](https://user-images.githubusercontent.com/116772462/201830254-e3b8df4c-fbc5-4b5d-911a-cbf769a56669.png)

[2022-11-15 21:04] VillainsRule4000 commented on #156
It's fine. You care too much about how stuff looks.
~~btw who has the rock as a pfp in 2022 you're stuck in 2020 like tf?~~

[2022-11-15 21:17] NathanBollard commented on #156
Why do you need to have a full 920x160 image to show Shift + Cmd ⌘ + 5?

[2022-11-15 21:54] VillainsRule4000 commented on #156
1. it's copied and pasted from apple's support center
2. #208 is for the use of coding platforms that don't recognize them. https://www.google.com/search?q=should+I+put+spaces+in+file+names

[2022-11-15 22:39] NathanBollard commented on #156
1. It doesn't matter (at all) if it's from Apple's support center. When I was making #207, I used it, then later removed it since it was too big. I tried minimizing the height of the image to 24px, (with lock ratio, of course), and the image's buttons' text were unreadable. That led me to using characters to show it, (discluding the Show Windows button.)
2. THAT'S NOT EVEN RELATED!

[2022-11-15 22:47] MrCrayfish01 commented on #197
Ok thanks I was confused

[2022-11-15 23:03] NathanBollard commented on #197
His thanks.

[2022-11-15 23:37] NathanBollard commented on #156
Please don't reply with swears to me.

[2022-11-15 23:45] NathanBollard commented on #208
False issue.

[2022-11-16 00:10] VillainsRule4000 commented on #208
You go to FALSE ISSUE? :rofl: it's not.

[2022-11-16 00:11] VillainsRule4000 commented on #156
pls don't annoy me

[2022-11-16 00:11] NathanBollard commented on #208
Again, see #156.

[2022-11-16 00:13] VillainsRule4000 commented on #208
pls re-read #156, ty

[2022-11-16 00:16] NathanBollard commented on #156
If I annoy you, that comes from your opinion.

[2022-11-16 00:19] VillainsRule4000 commented on #156
if my words are swears, that comes from your opinion

[2022-11-16 00:21] NathanBollard commented on #156
No, it doesn't. Swearing is when you say a word that is defined as swearing.

[2022-11-16 00:24] VillainsRule4000 commented on #156
defined as swearing by who?

[2022-11-16 00:31] NathanBollard commented on #156
America.

[2022-11-16 00:39] VillainsRule4000 commented on #156
that's not a word

[2022-11-16 00:41] NathanBollard commented on #156
I'm going to stop chaining now. (See the edit.)

[2022-11-16 03:48] ZackiBoiz commented on #210
*add a link to the hack*

[2022-11-16 04:46] JaxsonLLama0216 opened #213 "New hack idea."
Make a hack where you can customize your profile with blooks, banners, and titles that you don't have.

[2022-11-16 04:50] NathanBollard commented on #213
False issue, see #156.

[2022-11-16 05:35] NathanBollard commented on #213
a

[2022-11-16 05:35] NathanBollard commented on #213
@JaxsonLLama0216

[2022-11-16 11:44] VillainsRule4000 commented on #213
impossible

[2022-11-16 11:45] VillainsRule4000 commented on #210
I updated the guidelines. Reread

[2022-11-16 11:55] #213 closed

[2022-11-16 18:02] Jude-Gideon opened #216 "Someone is plagiarizing your work."
https://github.com/Doomlands/blookethack if you look at the obfuscation it's identical.

[2022-11-16 18:03] rxzyx commented on #216
Thanks.

[2022-11-16 18:03] #216 closed

[2022-11-16 18:05] Jude-Gideon commented on #216
No problem, I'd recommend making your own license so you can have full control over everything, just a recommendation though, it's sad when people steal code.

[2022-11-16 18:08] Jude-Gideon commented on #216
Look at [this license](https://github.com/Jude-Gideon/Blooket/blob/main/LICENSE) I custom made it and it gives no right to any copying without direct permission from me etc, I can let you use it if you want, let me know and I'll add you to the list if you're interested.

[2022-11-16 18:15] rxzyx commented on #216
Thanks. That vacuous geezer made me realise that I can make my own license.

[2022-11-16 18:18] rxzyx commented on #216
I'll make my own - and yeah ... the support team asks a billion questions before accepting any DMCA.

[2022-11-16 18:20] Jude-Gideon commented on #216
FR, theres a difference between open source, and something you want used.

[2022-11-16 19:29] 1010101010101ww opened #217 "Please add battle royale hacks"
**Describe the bug: this isn't a bug this a hack request, can you please add battle royale hacks

**Screen recording:**

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO [THE RULES](https://github.com/rxzyx/Blooket-Hacks/issues/156)*

[2022-11-16 19:55] VillainsRule4000 commented on #217
no hack requests.
not possible as well.
close.

[2022-11-16 19:59] VillainsRule4000 commented on #216
yes.

[2022-11-16 20:00] VillainsRule4000 commented on #216
It's something for open source, but especially on games where the average user is <10, you need a special kind of thing.

[2022-11-16 20:18] BlooketHeck commented on #217
@rxzyx Close false issue

[2022-11-16 21:19] ZackiBoiz commented on #217
Put suggestions in the Discord server.

[2022-11-16 23:08] NathanBollard commented on #217
False issue, see #156. Please close this issue as completed.

[2022-11-16 23:19] NathanBollard opened #218 "[Not An Issue]"
@rxzyx, why do you have a branch called [add-code-of-conduct-1](https://github.com/rxzyx/Blooket-Hacks/tree/add-code-of-conduct-1)? It's useless, and hasn't been updated since October 10, 2022. Should it be deleted? You already have [CODE_OF_CONDUCT.md](https://github.com/rxzyx/Blooket-Hacks/blob/main/CODE_OF_CONDUCT.md).

[2022-11-16 23:20] NathanBollard commented on #218
#156

[2022-11-17 02:53] Jude-Gideon commented on #216
FR. People are like "just go open source or private" I want my code usable, not editable thought.

[2022-11-17 03:00] VillainsRule4000 commented on #216
Right. Many people steal without credit. Even if you do credit, why steal lol.

[2022-11-17 03:07] rxzyx commented on #218
K.

[2022-11-17 03:07] #218 closed

[2022-11-17 03:07] rxzyx commented on #217
False issue.

[2022-11-17 03:07] #217 closed

[2022-11-17 03:09] CrzyForHackz commented on #202
thank you very much :)

[2022-11-17 05:32] NathanBollard commented on #216
:|

[2022-11-17 16:05] ColeCat119 opened #221 "Bug: Manipulate Plus not working"
**Describe the bug:**
I try to use it, but nothing pops up.

**Screen recording:**
can't sorry

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO [THE RULES](https://github.com/rxzyx/Blooket-Hacks/issues/156)*

[2022-11-17 16:57] Floragato commented on #221
uh, manipulate plus is used for unlocking plus gamemodes. there are no gamemodes to unlock right now, so it "doesn't work".

[2022-11-17 17:06] VillainsRule4000 commented on #221
yes.

[2022-11-17 17:07] rxzyx commented on #221
False issue.

[2022-11-17 17:07] #221 closed

[2022-11-17 18:02] NathanBollard commented on #221
False issue.

[2022-11-17 22:17] Jude-Gideon opened #222 "Yo you might wannna DMCA now"
If you haven't I would go ahead, he responded earlier with just a skull emoji I don't think he plans to take them down.

[2022-11-17 22:50] Jude-Gideon commented on #222
Also this kid is stealing your work https://github.com/P-DennyGamingYT/Blooket-Hacks

even though he says its your you can still DMCA cause you didn't give him permission.

[2022-11-18 02:39] P-DennyGamingYT commented on #222
I don’t need permission. He has no copyright except for MIT. I can still share and edit but I have to give credit. Which I did. I am literally just making a collection of every hack from every user I can find.

[2022-11-18 02:43] VillainsRule4000 commented on #222
The License has been updated.

[2022-11-18 02:50] P-DennyGamingYT commented on #222
Ok go ahead and try and Dmca me with no real copyright proof!

[2022-11-18 02:50] P-DennyGamingYT commented on #222
Sorry for making a collection of Blooket hacks

[2022-11-18 02:55] VillainsRule4000 commented on #222
No real copyright proof?

[2022-11-18 03:03] rxzyx commented on #222
Actually you violated the License, @P-DennyGamingYT, if it’s not removed within a couple of hours using the terms of the license I will be forced to take action.

[2022-11-18 03:03] #222 closed

[2022-11-18 03:12] P-DennyGamingYT commented on #222
You can’t do anything unless you have copyright registration.

[2022-11-18 03:12] P-DennyGamingYT commented on #222
I legally don’t have to do anything if you have no copyright registration papers to show me

[2022-11-18 03:17] P-DennyGamingYT commented on #222
It is also a federal crime to order a DMCA takedown based ff unregistered copyright

[2022-11-18 03:41] Jude-Gideon commented on #222
Dawg you're retarded

[2022-11-18 03:42] Jude-Gideon commented on #222
Dawg, he has everything he needs to DMCA you just comply with him it's not hard.

[2022-11-18 03:43] Jude-Gideon commented on #222
Theres no point.. people go to the original, you're just trying to be special my guy.

[2022-11-18 05:06] NathanBollard commented on #222
Get BURNED

[2022-11-18 05:11] Jude-Gideon commented on #222
lmao

[2022-11-18 09:24] rxzyx commented on #222
Sorry Johnny Law, but you actually can (I did before, that’s why licenses are a thing!)

[2022-11-18 14:31] P-DennyGamingYT commented on #222
Ok go ahead Dmca me. Have fun!

[2022-11-18 20:03] weasers opened #223 "Bug: Blooket Flood does not work"
**Describe the bug:**
When I click the bookmark is asks for the name and then the number I want. When I check back on the host screen nothing has happened

**Screen recording:**

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO [THE RULES](https://github.com/rxzyx/Blooket-Hacks/issues/156)*

[2022-11-18 20:19] peepoostpin commented on #223
ye

[2022-11-18 21:55] ZackiBoiz commented on #223
It does work. It just takes a bit

[2022-11-18 21:56] ZackiBoiz commented on #221
It does work, but there is no use for it right now.

[2022-11-18 21:57] cupcake2048 opened #224 "How do/what is an ID for custom blooks? I want my blook to be maxed out. Help?"
I just want to know the custom ID that gets the custom blook to be maxed out, and I want the blook to have the first white skin also.

![Screenshot 2022-11-18 4 54 23 PM](https://user-images.githubusercontent.com/101189451/202809649-6a768757-3c89-450f-a3f2-89470fb88027.png)

So yeah can you do that also sorry if this is a bit weird but have you figured out how to bypass the cap for infinite coins

[2022-11-18 22:59] Wilke000 commented on #224
Infinite coins/xp is impossible
They are server sided

[2022-11-19 06:19] NathanBollard commented on #223
False issue, test again.

[2022-11-19 06:27] NathanBollard opened #225 "Infinite Tokens Might Work."
(That I know of), there is one way to get Tokens even after you reach the daily limit: Selling Blooks. (If there is more, let me know.) Obviously, you can't get all the Blooks forever in a hack, but you get Blooks by opening packs. Do you think there's a way to set the price of any packs?

[2022-11-19 07:37] rxzyx commented on #225
Not possible.

[2022-11-19 07:37] #225 closed

[2022-11-19 07:37] rxzyx commented on #224
^ False issue. Also there’s a file called Custom Blooks.js

[2022-11-19 07:37] #224 closed

[2022-11-19 07:37] rxzyx commented on #223
False issue. Works.

[2022-11-19 07:37] #223 closed

[2022-11-19 23:17] ZackiBoiz commented on #225
^

[2022-11-20 20:49] RaynerBoniacio opened #228 "Host not working, in the defult scripts"
hi, everything is good except for the kick player, end game, and kick all. Which is unfortunete, hopefully you read this and you can somewhat fix it please. But overall it was good!

[2022-11-21 00:53] highfl opened #229 "Custom Blooks not working"
it goes through the sequence but it doesnt do anything to the blooks

[2022-11-21 02:33] rxzyx commented on #229
Should be false issue. It doesn’t do it to everything…

[2022-11-21 02:33] #229 closed

[2022-11-21 02:33] rxzyx commented on #228
By using these hacks I expect the function to read the hack. __HOST__

[2022-11-21 02:33] #228 closed

[2022-11-21 02:34] rxzyx commented on #228
__HOST__ means that it’s exclusive to hosts only.

[2022-11-21 14:19] O5-13Council opened #230 "Bug: All correct in basic script"
**Describe the bug:**
The script is not working also if it does which site is to? Also, I test most of them.

[2022-11-21 14:20] rxzyx commented on #230
False issue.

[2022-11-21 14:20] #230 closed

[2022-11-21 14:21] Wilke000 commented on #230
Is it on battle Royale? Battle Royale is unhackable

[2022-11-21 14:33] ArsonMason opened #231 "Bug:"
**Describe the bug:**

Tower of Doom, Global, and Crypto Hack cheats arent working.
**Screen recording:**

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO [THE RULES](https://github.com/rxzyx/Blooket-Hacks/issues/156)*

[2022-11-21 14:34] #231 closed

[2022-11-21 15:18] Hankypoo7 commented on #222
Guys, this is fking blooket hacks. It does. Not. Matter.

[2022-11-21 15:25] VillainsRule4000 commented on #222
People spend time making scripts. It does. Good script makers will know.

[2022-11-21 16:59] ItzBK29 opened #232 "Bug: The manipulate plus does not work at all I have tried everything and it will not work please fix this it would help so much Thx and have a nice day."
**Describe the bug:**

**Screen recording:**

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO [THE RULES](https://github.com/rxzyx/Blooket-Hacks/issues/156)*

[2022-11-22 02:18] Saber-Tooth-Tiger opened #233 "Bug: add tokens doesn't work"
**Describe the bug:**
I there, the tokens and xp thingie isn't working again i tried many times.

**Screen recording:**

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO [THE RULES](https://github.com/rxzyx/Blooket-Hacks/issues/156)*

[2022-11-22 02:21] Saber-Tooth-Tiger commented on #233
nvm sry about that it works, i just did something wrong

[2022-11-22 02:21] #233 closed

[2022-11-22 15:22] ArsonMason opened #234 "Bug: Cafe Glitch"
**Describe the bug:**

If you set any number above 999 Billion (Food, Money, Wait Time), It kicks you to the login screen when you start or end the day.
**Screen recording:**

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO [THE RULES](https://github.com/rxzyx/Blooket-Hacks/issues/156)*

[2022-11-22 15:39] Wilke000 commented on #234
Yea then don’t set it above 999 billion

[2022-11-22 15:47] rxzyx commented on #232
False issue.

[2022-11-22 15:47] #232 closed

[2022-11-22 15:47] rxzyx commented on #234
False issue.

[2022-11-22 17:57] VillainsRule4000 commented on #234
This is a real issue, this actually happens.
@rxzyx reopen, also just add an if/else

[2022-11-22 22:36] moo132 opened #235 "Bug:"
**Describe the bug:** The max tokens and XP is not working #156

**Screen recording:**

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO [THE RULES](https://github.com/rxzyx/Blooket-Hacks/issues/156)*

[2022-11-23 00:18] Angelio-Mustachio-Coder commented on #235
False issue. just tested, it works.

[2022-11-23 01:54] Jude-Gideon commented on #235
False issue, just your daily cap.

[2022-11-23 13:58] jimjamgithub commented on #235
just close this issue moo132

[2022-11-23 16:20] #235 closed

[2022-11-24 01:43] 000Oscar000 opened #236 "blooket hack"
hey, this isn't exactly an issue because your code is amazing but I was wondering if you could attempt to make a code for the blooket market that allows the user to spam open packs so we don't spend so much time opening them or maybe something to boost the luck of getting something really from the packs please and thankyou

[2022-11-24 06:29] NathanBollard commented on #236
False issue, see #156.

[2022-11-24 12:40] rxzyx commented on #236
False issue.

[2022-11-24 12:40] #236 closed

[2022-11-24 15:12] VillainsRule4000 commented on #236
@rxzyx you've gotten so many requests, make one!

[2022-11-24 15:13] VillainsRule4000 commented on #236
also luck boost is impossible

[2022-11-24 20:46] NathanBollard commented on #236
How about you make one? You told me you code.

[2022-11-25 19:28] ZackiBoiz commented on #232
@ItzBK29 The hack DOES indeed work, look at issue #221

[2022-11-27 23:28] ItzBK29 opened #238 "Bug: Manipulate plus dosen't work"
**Describe the bug:**

**Screen recording:**

*MAKE SURE THIS ISSUE IS CORRECT ACCORDING TO [THE RULES](https://github.com/rxzyx/Blooket-Hacks/issues/156)*

[2022-11-28 01:07] ZackiBoiz commented on #238
It does work, read #221

[2022-11-28 22:37] ItzBK29 commented on #221
It will not let you copy sets

[2022-11-29 05:45] NathanBollard commented on #221
So?

[2022-11-29 06:16] NathanBollard commented on #238
False issue.

[2022-11-29 06:40] NathanBollard opened #243 "Discussions"
Do you think @rxzyx should add discussions? I want a lot of opinions on this, so don't close this.

👍 = Yes

👎 = No

[2022-11-29 06:47] NathanBollard commented on #225
What about the rarity of the Blooks?

[2022-11-29 12:15] Wilke000 commented on #243
I told him to a while ago, he said there was no need for it since there's a discord. BUT WHAT ABOUT THE PEOPLE WITHOUT DISCORD

[2022-11-29 13:10] VillainsRule4000 commented on #243
so make a discord account :rofl:

[2022-11-29 13:10] VillainsRule4000 commented on #243
@rxzyx False Issue. Close.

[2022-11-29 13:14] Wilke000 commented on #243
I did. I accidentally left my vpn on and it asked for a phone number. I don’t have a phone.

[2022-11-29 13:23] Wilke000 commented on #243
me.

[2022-11-29 13:25] VillainsRule4000 commented on #243
well we all know you're underage

[2022-11-29 13:27] Wilke000 commented on #243
Im actually not.

[2022-11-29 14:10] RadioactivePotato opened #244 "How to get blook code for Blooket-Hacks/Default-Scripts/Custom-Blooks.js ?"

[2022-11-29 15:24] NathanBollard commented on #244
How do you find the number values, @ZackiBoiz?

[2022-11-29 15:26] rxzyx commented on #244
False issue

[2022-11-29 15:26] #244 closed

[2022-11-29 15:27] rxzyx commented on #243
False issue.

[2022-11-29 15:27] #243 closed

[2022-11-29 15:27] rxzyx commented on #238
False issue.

[2022-11-29 15:27] #238 closed

[2022-11-29 15:31] NathanBollard commented on #221
No. Just get Plus.

[2022-11-29 15:31] NathanBollard commented on #244
False issue.

[2022-11-29 20:51] ZackiBoiz commented on #244
@NathanBollard

Let's say you want to change the "item" value.
The number value depends on what "item" you chose.
For example, the first "item" has a value of 0, the second has a value of 1, the third with 2, and so on...

[2022-11-29 21:58] NathanBollard commented on #244
There should be a list of all the IDs on a Google Doc or something, at least for the people who don't have every accessory in the game.

[2022-11-29 22:44] NathanBollard opened #246 "Chest-ESP.js"
Chest-ESP.js does show what's behind the chests, but the interactive choices says there's no other players to interact with, and freezes your gold and placement on the host's leaderboard.

[2022-11-29 22:53] ZackiBoiz commented on #246
Just tested, it works fine.

[2022-11-29 23:02] NathanBollard commented on #246
Well when I tested, I also used Flood-Game.js. Maybe that conflicted?

[2022-11-29 23:03] NathanBollard commented on #246
Oh. I guess it just conflicted with Flood-Game.js. Sorry!

[2022-11-29 23:03] #246 closed

[2022-11-29 23:08] NathanBollard opened #247 "[Not An Issue] Projects"
You should remove [Projects](https://docs.github.com/en/issues/planning-and-tracking-with-projects) from this repository, because it has been there unused ever since this repository was created, and because it's useless.

[2022-11-30 12:17] ZackiBoiz commented on #247
I don't even know if you **can** remove it.

[2022-11-30 13:08] VillainsRule4000 commented on #247
@NathanBollard you should shut up, issues are for issues lmao

[2022-11-30 13:40] ZackiBoiz commented on #247
Fr

[2022-11-30 14:58] VillainsRule4000 commented on #247
bro nathan is some idiot who signs up and can't code :skull: just makes "rename" issues because he's picky asf

[2022-11-30 16:26] Wilke000 commented on #247
not wrong! (I swear villains if you say I can't code....)

[2022-11-30 20:25] RaynerBoniacio commented on #228
ohhhhhhh, lol, sry. But how about the anti ban? I don't think it's working
aswell

On Mon, Nov 21, 2022 at 1:34 PM rzx. ***@***.***> wrote:

[2022-11-30 20:30] Wilke000 commented on #228
Anti ban doesn’t unaban you, only prevents you from being banned if you are using a hack that gets you banned but still works

[2022-11-30 21:55] ZackiBoiz commented on #247
#211

[2022-11-30 22:40] Wilke000 commented on #247
Lol i remember that! Villains and i kept on fighting and he said I cant code when in reality I CODE PYTHON ON REPLIT!!!

[2022-11-30 22:52] VillainsRule4000 commented on #247
python isn't a valid language

[2022-11-30 23:31] Wilke000 commented on #247
Why isn’t it a “valid” language

[2022-11-30 23:51] ZackiBoiz commented on #247
eh

[2022-11-30 23:51] ZackiBoiz commented on #247
It's very inconsistent

[2022-11-30 23:53] Wilke000 commented on #247
Wdym